### Oitavas Sulamericana

In [1]:
import cartolafc
import pandas as pd
from difflib import get_close_matches
import json

pd.set_option('display.max_columns', 50)            # permite a visualizaÃ§Ã£o de 50 colunas do dataframe
pd.options.display.float_format = '{:.2f}'.format   # pandas: para todos os nÃºmeros aparecerem com duas casas decimais

# Cria uma instÃ¢ncia da API
api = cartolafc.Api(attempts=5)

2025-07-14 16:36:52,079 - numexpr.utils - INFO - NumExpr defaulting to 8 threads.

### DicionÃ¡rio com os IDs e Nomes dos times.

In [2]:
# DicionÃ¡rio com ID -> Nome do time (gerado anteriormente)
nomes_por_id = {
   3914981: 'BORGES ITAQUI F.C.',
   20696550: 'Dom Camillo68',        
   17887202: 'HS SPORTS F.C',
   47543456: 'Tabajara de Inhaua FC2',     
   44810918: 'lsauer fc',
   479510: 'TEAM LOPES 99',  
   24468241: 'GrÃªmio imortal 37',
   212042: 'Tatols Beants F.C',      
   6148913: 'E.C. BororÃ©',
   528730: 'Gremiomaniasm',    
   25311459: 'FC Los Castilho',    
   13951133: 'KING LEONN',       
   159074: 'F.C. Rei Das Copas',
   18344271: 'Laranjja Mecannica',
   25751748: 'MauHumor F.C.',   
   18421230: 'Gig@ntte'
}

In [3]:
# Lista com todos os dados que vocÃª passou
dados_torneio = [
    # Jogo A
    ("Jogo A", 528730),
    ("Jogo A", 18421230),    
    # Jogo B
    ("Jogo B", 3914981),
    ("Jogo B", 13951133),
    # Jogo C                        
    ("Jogo C", 212042),
    ("Jogo C", 18344271),
    # Jogo D
    ("Jogo D", 24468241),
    ("Jogo D", 20696550),
    # Jogo E
    ("Jogo E", 159074),
    ("Jogo E", 25751748),
    # Jogo F
    ("Jogo F", 17887202),
    ("Jogo F", 479510),
    # Jogo G
    ("Jogo G", 25311459),
    ("Jogo G", 47543456),
    # Jogo H
    ("Jogo H", 6148913),
    ("Jogo H", 44810918),
    
]

# Criar DataFrame base
df_torneio = pd.DataFrame(dados_torneio, columns=["Jogo", "ID do Time"])

# Adicionar Nome do Time usando o dicionÃ¡rio
df_torneio["Nome do Time"] = df_torneio["ID do Time"].map(nomes_por_id)

# Adicionar ID do Jogo
df_torneio["ID do Jogo"] = df_torneio.groupby("Jogo").cumcount() + 1
df_torneio["ID do Jogo"] = df_torneio["ID do Jogo"].astype(str) + "_" + df_torneio["Jogo"].str[-1]


# Reorganizar colunas
df_torneio = df_torneio[["Jogo", "ID do Time", "Nome do Time", "ID do Jogo"]]

df_sula_jogo_A = df_torneio[df_torneio["Jogo"] == "Jogo A"]
df_sula_jogo_B = df_torneio[df_torneio["Jogo"] == "Jogo B"]
df_sula_jogo_C = df_torneio[df_torneio["Jogo"] == "Jogo C"]
df_sula_jogo_D = df_torneio[df_torneio["Jogo"] == "Jogo D"]
df_sula_jogo_E = df_torneio[df_torneio["Jogo"] == "Jogo E"]
df_sula_jogo_F = df_torneio[df_torneio["Jogo"] == "Jogo F"]
df_sula_jogo_G = df_torneio[df_torneio["Jogo"] == "Jogo G"]
df_sula_jogo_H = df_torneio[df_torneio["Jogo"] == "Jogo H"]

# Lista de jogos
jogos = {
    "Jogo A": df_sula_jogo_A,
    "Jogo B": df_sula_jogo_B,
    "Jogo C": df_sula_jogo_C,
    "Jogo D": df_sula_jogo_D,
    "Jogo E": df_sula_jogo_E,
    "Jogo F": df_sula_jogo_F,
    "Jogo G": df_sula_jogo_G,
    "Jogo H": df_sula_jogo_H
}

display(df_sula_jogo_H)

      Jogo  ID do Time Nome do Time ID do Jogo
14  Jogo H     6148913  E.C. BororÃ©        1_H
15  Jogo H    44810918    lsauer fc        2_H

### Jogos das Oitavas de Final da Sulamericana

In [4]:
# Rodada 13 - Fase 1 Sulamericana (Equivalente a 13Âº Rodada do Campeonato Brasileiro) 
confrontos_13a_rodada = [
    # Jogo A
    ("Jogo A", "1_A", "2_A"),
    # Jogo B
    ("Jogo B", "1_B", "2_B"),
    # Jogo C
    ("Jogo C", "1_C", "2_C"),
    # Jogo D
    ("Jogo D", "1_D", "2_D"),
    # Jogo E
    ("Jogo E", "1_E", "2_E"),
    # Jogo F
    ("Jogo F", "1_F", "2_F"),
    # Jogo G
    ("Jogo G", "1_G", "2_G"),
    # Jogo H
    ("Jogo H", "1_H", "2_H")    
]

# Rodada 14 - Fase 1 Sulamericana (Equivalente a 14Âº Rodada do Campeonato Brasileiro) 
confrontos_14a_rodada = [
    # Jogo A
    ("Jogo A", "2_A", "1_A"),
    # Jogo B
    ("Jogo B", "2_B", "1_B"),
    # Jogo C
    ("Jogo C", "2_C", "1_C"),
    # Jogo D
    ("Jogo D", "2_D", "1_D"),
    # Jogo E
    ("Jogo E", "2_E", "1_E"),
    # Jogo F
    ("Jogo F", "2_F", "1_F"),
    # Jogo G
    ("Jogo G", "2_G", "1_G"),
    # Jogo H
    ("Jogo H", "2_H", "1_H")    
]

In [5]:
# Transformar em DataFrame
df_confrontos = pd.DataFrame(confrontos_13a_rodada, columns=["Jogo", "Mandante_ID", "Visitante_ID"])

# Junta com df_torneio para buscar dados dos mandantes
df_mandantes = df_torneio.rename(columns={
    "ID do Jogo": "Mandante_ID",
    "Nome do Time": "Mandante_Nome",
    "ID do Time": "Mandante_ID_Time"
})[["Jogo", "Mandante_ID", "Mandante_Nome", "Mandante_ID_Time"]]

# Junta com df_torneio para buscar dados dos visitantes
df_visitantes = df_torneio.rename(columns={
    "ID do Jogo": "Visitante_ID",
    "Nome do Time": "Visitante_Nome",
    "ID do Time": "Visitante_ID_Time"    
})[["Jogo", "Visitante_ID", "Visitante_Nome", "Visitante_ID_Time"]]

display(df_visitantes)

      Jogo Visitante_ID          Visitante_Nome  Visitante_ID_Time
0   Jogo A          1_A           Gremiomaniasm             528730
1   Jogo A          2_A                Gig@ntte           18421230
2   Jogo B          1_B      BORGES ITAQUI F.C.            3914981
3   Jogo B          2_B              KING LEONN           13951133
4   Jogo C          1_C       Tatols Beants F.C             212042
5   Jogo C          2_C      Laranjja Mecannica           18344271
6   Jogo D          1_D       GrÃªmio imortal 37           24468241
7   Jogo D          2_D           Dom Camillo68           20696550
8   Jogo E          1_E      F.C. Rei Das Copas             159074
9   Jogo E          2_E           MauHumor F.C.           25751748
10  Jogo F          1_F           HS SPORTS F.C           17887202
11  Jogo F          2_F           TEAM LOPES 99             479510
12  Jogo G          1_G         FC Los Castilho           25311459
13  Jogo G          2_G  Tabajara de Inhaua FC2           47543456
14  Jogo H          1_H             E.C. BororÃ©            6148913
15  Jogo H          2_H               lsauer fc           44810918

In [6]:
# Transformar em DataFrame
df_confrontos = pd.DataFrame(confrontos_13a_rodada, columns=["Jogo", "Mandante_ID", "Visitante_ID"])
df_confrontos["Rodada"] = 12  # <<< ADICIONAR ESTA LINHA
df_rodada_13 = df_confrontos.merge(df_mandantes, on=["Jogo", "Mandante_ID"])
df_rodada_13 = df_rodada_13.merge(df_visitantes, on=["Jogo", "Visitante_ID"])


# Transformar em DataFrame
df_confrontos_14 = pd.DataFrame(confrontos_14a_rodada, columns=["Jogo", "Mandante_ID", "Visitante_ID"])
df_confrontos_14["Rodada"] = 13
df_rodada_14 = df_confrontos_14.merge(df_mandantes, on=["Jogo", "Mandante_ID"])
df_rodada_14 = df_rodada_14.merge(df_visitantes, on=["Jogo", "Visitante_ID"])

display(df_rodada_13)

,Jogo,Mandante_ID,Visitante_ID,Rodada,Mandante_Nome,Mandante_ID_Time,Visitante_Nome,Visitante_ID_Time
0,Jogo A,1_A,2_A,12,Gremiomaniasm,528730,Gig@ntte,18421230
1,Jogo B,1_B,2_B,12,BORGES ITAQUI F.C.,3914981,KING LEONN,13951133
2,Jogo C,1_C,2_C,12,Tatols Beants F.C,212042,Laranjja Mecannica,18344271
3,Jogo D,1_D,2_D,12,GrÃªmio imortal 37,24468241,Dom Camillo68,20696550
4,Jogo E,1_E,2_E,12,F.C. Rei Das Copas,159074,MauHumor F.C.,25751748
5,Jogo F,1_F,2_F,12,HS SPORTS F.C,17887202,TEAM LOPES 99,479510
6,Jogo G,1_G,2_G,12,FC Los Castilho,25311459,Tabajara de Inhaua FC2,47543456
7,Jogo H,1_H,2_H,12,E.C. BororÃ©,6148913,lsauer fc,44810918

In [7]:
df_rodadas = pd.concat([
    df_rodada_13,
    df_rodada_14,
], ignore_index=True)

# Ajustar a numeraÃ§Ã£o da rodada para refletir as rodadas do Cartola (Rodada 7 atÃ© 12)
df_rodadas["Rodada"] = df_rodadas["Rodada"]  # Ex: 1 -> 7, 2 -> 8, ..., 6 -> 12

df_rodadas.to_excel("confrontos_oitavas_sula.xlsx", index=False)

# Exibir os confrontos da fase 1
display(df_rodadas.head(20))

,Jogo,Mandante_ID,Visitante_ID,Rodada,Mandante_Nome,Mandante_ID_Time,Visitante_Nome,Visitante_ID_Time
0,Jogo A,1_A,2_A,12,Gremiomaniasm,528730,Gig@ntte,18421230
1,Jogo B,1_B,2_B,12,BORGES ITAQUI F.C.,3914981,KING LEONN,13951133
2,Jogo C,1_C,2_C,12,Tatols Beants F.C,212042,Laranjja Mecannica,18344271
3,Jogo D,1_D,2_D,12,GrÃªmio imortal 37,24468241,Dom Camillo68,20696550
4,Jogo E,1_E,2_E,12,F.C. Rei Das Copas,159074,MauHumor F.C.,25751748
5,Jogo F,1_F,2_F,12,HS SPORTS F.C,17887202,TEAM LOPES 99,479510
6,Jogo G,1_G,2_G,12,FC Los Castilho,25311459,Tabajara de Inhaua FC2,47543456
7,Jogo H,1_H,2_H,12,E.C. BororÃ©,6148913,lsauer fc,44810918
8,Jogo A,2_A,1_A,13,Gig@ntte,18421230,Gremiomaniasm,528730
9,Jogo B,2_B,1_B,13,KING LEONN,13951133,BORGES ITAQUI F.C.,3914981
10,Jogo C,2_C,1_C,13,Laranjja Mecannica,18344271,Tatols Beants F.C,212042
11,Jogo D,2_D,1_D,13,Dom Camillo68,20696550,GrÃªmio imortal 37,24468241
12,Jogo E,2_E,1_E,13,MauHumor F.C.,25751748,F.C. Rei Das Copas,159074
13,Jogo F,2_F,1_F,13,TEAM LOPES 99,479510,HS SPORTS F.C,17887202
14,Jogo G,2_G,1_G,13,Tabajara de Inhaua FC2,47543456,FC Los Castilho,25311459
15,Jogo H,2_H,1_H,13,lsauer fc,44810918,E.C. BororÃ©,6148913

In [8]:
# Criar lista de dicionÃ¡rios no formato desejado
confrontos_js_oitavas_sula = []

for _, row in df_rodadas.iterrows():
    confronto = {
        "jogo": row["Jogo"],
        "rodada": int(row["Rodada"]),
        "mandante": {
            "id": int(row["Mandante_ID_Time"]),
            "nome": row["Mandante_Nome"],
            # "clube": row["Mandante_Clube"],
            # "participante": row["Mandante_Participante"]
        },
        "visitante": {
            "id": int(row["Visitante_ID_Time"]),
            "nome": row["Visitante_Nome"],
            # "clube": row["Visitante_Clube"],
            # "participante": row["Visitante_Participante"]
        }
    }
    confrontos_js_oitavas_sula.append(confronto)

# Converter para JSON formatado
json_str = json.dumps(confrontos_js_oitavas_sula, indent=2, ensure_ascii=False)

# Salvar como arquivo JS com uma variÃ¡vel global
with open("confrontos_oitavas_sula.js", "w", encoding="utf-8") as f:
    f.write("const confrontos_oitavas_sula = ")
    f.write(json_str)
    f.write(";")

In [9]:
def exibir_confrontos(df_rodadas, rodada=None, jogo=None):
    """
    Filtra e exibe os confrontos por rodada e/ou grupo.
    
    ParÃ¢metros:
    - df_rodadas: DataFrame com todos os confrontos
    - rodada: nÃºmero da rodada (int ou None para todas)
    - grupo: nome do grupo (str ou None para todos)
    
    Retorna:
    - DataFrame filtrado com as colunas relevantes
    """
    # colunas = ["Rodada", "Jogo", "Mandante_Clube", "Visitante_Clube", "Mandante_Nome", "Visitante_Nome", "Mandante_Participante", "Visitante_Participante"]
    colunas = ["Rodada", "Jogo", "Mandante_ID_Time", "Mandante_Nome", "Visitante_ID_Time", "Visitante_Nome"]
    df_filtrado = df_rodadas.copy()

    df_filtrado["Rodada"] = df_filtrado["Rodada"].astype(str) + "Âª Rodada"    

    if rodada is not None:
        df_filtrado = df_filtrado[df_filtrado["Rodada"] == rodada]

    if jogo is not None:
        df_filtrado = df_filtrado[df_filtrado["Jogo"] == jogo]

    return df_filtrado[colunas].sort_values(by=["Jogo", "Rodada"])

In [10]:
# Exibir todos os confrontos da rodada 3
display(exibir_confrontos(df_rodadas, rodada="13Âª Rodada"))

# Exibir todos os confrontos do Grupo C
display(exibir_confrontos(df_rodadas, jogo="Jogo A").head())

# # Exibir confrontos do Grupo A na rodada 2
# display(exibir_confrontos(df_rodadas, rodada=1, grupo="Grupo A"))

,Rodada,Jogo,Mandante_ID_Time,Mandante_Nome,Visitante_ID_Time,Visitante_Nome
8,13Âª Rodada,Jogo A,18421230,Gig@ntte,528730,Gremiomaniasm
9,13Âª Rodada,Jogo B,13951133,KING LEONN,3914981,BORGES ITAQUI F.C.
10,13Âª Rodada,Jogo C,18344271,Laranjja Mecannica,212042,Tatols Beants F.C
11,13Âª Rodada,Jogo D,20696550,Dom Camillo68,24468241,GrÃªmio imortal 37
12,13Âª Rodada,Jogo E,25751748,MauHumor F.C.,159074,F.C. Rei Das Copas
13,13Âª Rodada,Jogo F,479510,TEAM LOPES 99,17887202,HS SPORTS F.C
14,13Âª Rodada,Jogo G,47543456,Tabajara de Inhaua FC2,25311459,FC Los Castilho
15,13Âª Rodada,Jogo H,44810918,lsauer fc,6148913,E.C. BororÃ©

,Rodada,Jogo,Mandante_ID_Time,Mandante_Nome,Visitante_ID_Time,Visitante_Nome
0,12Âª Rodada,Jogo A,528730,Gremiomaniasm,18421230,Gig@ntte
8,13Âª Rodada,Jogo A,18421230,Gig@ntte,528730,Gremiomaniasm

In [11]:
# def campeonato_comecou(api, ids_times):
#     """Verifica se o campeonato jÃ¡ comeÃ§ou observando a pontuaÃ§Ã£o na 1Âª rodada."""
#     for time_id in ids_times.values():
#         try:
#             pontuacao = api.time(time_id=time_id, rodada=1).ultima_pontuacao
#             if pontuacao is not None:
#                 return True
#         except cartolafc.errors.CartolaFCError:
#             continue
#     return False

# def obter_pontuacao_por_rodada(api, time_id, rodada_atual):
#     """ObtÃ©m a pontuaÃ§Ã£o do time em cada rodada atÃ© a rodada atual."""
#     pontuacoes = {}
#     for rodada in range(1, rodada_atual):
#         try:
#             time_rodada = api.time(time_id=time_id, rodada=rodada)
#             pontuacoes[rodada] = time_rodada.ultima_pontuacao
#         except cartolafc.errors.CartolaFCError as e:
#             print(f"Erro ao acessar pontuaÃ§Ã£o da rodada {rodada} para o time {time_id}: {e}")
#             pontuacoes[rodada] = None
#     return pontuacoes

# def gerar_df_pontuacoes(api, ids_times):
#     rodada_atual = api.mercado().rodada_atual
#     total_rodadas = 14

#     if not campeonato_comecou(api, ids_times):
#         print("ðŸ“Œ O campeonato ainda nÃ£o comeÃ§ou. Criando estrutura com placeholders.")
#         df = pd.DataFrame(index=ids_times.keys(), columns=[f'Rodada {i}' for i in range(1, total_rodadas + 1)])
#         df[:] = 0
#     else:
#         df = pd.DataFrame()
#         for nome, time_id in ids_times.items():
#             pontuacoes = obter_pontuacao_por_rodada(api, time_id, rodada_atual)
#             df[nome] = pd.Series(pontuacoes)
#         df = df.transpose()
#         df.columns = [f'Rodada {i}' for i in range(1, rodada_atual)]
#         df.loc['Lider_Rodada'] = df.idxmax()
    
#     return df

In [12]:
def campeonato_comecou(api, ids_times, rodada_teste=1):
    """Verifica se o campeonato jÃ¡ comeÃ§ou observando a pontuaÃ§Ã£o na rodada de teste."""
    for time_id in ids_times.values():
        try:
            pontuacao = api.time(time_id=time_id, rodada=rodada_teste).ultima_pontuacao
            if pontuacao is not None:
                return True
        except cartolafc.errors.CartolaFCError:
            continue
    return False

def obter_pontuacao_por_rodada(api, time_id, rodadas):
    """ObtÃ©m a pontuaÃ§Ã£o do time nas rodadas especificadas."""
    pontuacoes = {}
    for rodada in rodadas:
        try:
            time_rodada = api.time(time_id=time_id, rodada=rodada)
            pontuacoes[rodada] = time_rodada.ultima_pontuacao
        except cartolafc.errors.CartolaFCError as e:
            print(f"Erro ao acessar pontuaÃ§Ã£o da rodada {rodada} para o time {time_id}: {e}")
            pontuacoes[rodada] = None
    return pontuacoes

def gerar_df_pontuacoes(api, ids_times, rodadas_desejadas=[1, 13]):
    """Gera DataFrame apenas com as rodadas desejadas."""
    if not campeonato_comecou(api, ids_times, rodada_teste=rodadas_desejadas[0]):
        print("ðŸ“Œ O campeonato ainda nÃ£o comeÃ§ou. Criando estrutura com placeholders.")
        df = pd.DataFrame(index=ids_times.keys(), columns=[f'Rodada {i}' for i in rodadas_desejadas])
        df[:] = 0
    else:
        df = pd.DataFrame()
        for nome, time_id in ids_times.items():
            pontuacoes = obter_pontuacao_por_rodada(api, time_id, rodadas_desejadas)
            df[nome] = pd.Series(pontuacoes)
        df = df.transpose()
        df.columns = [f'Rodada {i}' for i in rodadas_desejadas]
        df.loc['Lider_Rodada'] = df.idxmax()

    return df

In [13]:
ids_times = {v: k for k, v in nomes_por_id.items()}

# df_pontuacoes = gerar_df_pontuacoes(api, ids_times)
# display(df_pontuacoes.T)

rodadas_desejadas = [12, 13]
df_pontuacoes = gerar_df_pontuacoes(api, ids_times, rodadas_desejadas)

display(df_pontuacoes.T)

,BORGES ITAQUI F.C.,Dom Camillo68,HS SPORTS F.C,Tabajara de Inhaua FC2,lsauer fc,TEAM LOPES 99,GrÃªmio imortal 37,Tatols Beants F.C,E.C. BororÃ©,Gremiomaniasm,FC Los Castilho,KING LEONN,F.C. Rei Das Copas,Laranjja Mecannica,MauHumor F.C.,Gig@ntte,Lider_Rodada
Rodada 12,66.60,40.74,55.76,63.56,65.81,59.48,65.86,50.10,66.96,69.30,69.66,71.21,48.96,54.09,56.46,44.46,KING LEONN
Rodada 13,66.60,40.74,55.76,63.56,65.81,59.48,65.86,50.10,66.96,69.30,69.66,71.21,48.96,54.09,56.46,44.46,KING LEONN

In [14]:
def classificacao_por_grupo(df_rodadas, df_pontuacoes):
    """
    ClassificaÃ§Ã£o dos grupos com base nos confrontos e nas pontuaÃ§Ãµes do Cartola.

    Retorna:
    - df_resultado: classificaÃ§Ã£o geral
    - df_resultado_por_grupo: dicionÃ¡rio com classificaÃ§Ã£o separada por grupo
    """
    df_pontuacoes_times = df_pontuacoes.drop(index='Lider_Rodada', errors='ignore')
    estatisticas = {}

    for _, confronto in df_rodadas.iterrows():
        rodada = confronto["Rodada"]
        mandante = confronto["Mandante_Nome"]
        visitante = confronto["Visitante_Nome"]
        jogo = confronto["Jogo"]
        coluna_rodada = f"Rodada {rodada}"

        if mandante not in df_pontuacoes_times.index or visitante not in df_pontuacoes_times.index:
            continue
        if coluna_rodada not in df_pontuacoes_times.columns:
            continue

        pontos_mandante = df_pontuacoes_times.at[mandante, coluna_rodada]
        pontos_visitante = df_pontuacoes_times.at[visitante, coluna_rodada]

        if pd.isnull(pontos_mandante) or pd.isnull(pontos_visitante):
            continue

        for time in [mandante, visitante]:
            if jogo not in estatisticas:
                estatisticas[jogo] = {}
            if time not in estatisticas[jogo]:
                estatisticas[jogo][time] = {
                    "Pontos": 0, "VitÃ³rias": 0, "Empates": 0, "Derrotas": 0,
                    "Total_Cartola": 0, "Cartola_Sofrido": 0
                }

        # Atualizar estatÃ­sticas do jogo
        estatisticas[jogo][mandante]["Total_Cartola"] += pontos_mandante
        estatisticas[jogo][mandante]["Cartola_Sofrido"] += pontos_visitante

        estatisticas[jogo][visitante]["Total_Cartola"] += pontos_visitante
        estatisticas[jogo][visitante]["Cartola_Sofrido"] += pontos_mandante

        if pontos_mandante > pontos_visitante:
            estatisticas[jogo][mandante]["Pontos"] += 3
            estatisticas[jogo][mandante]["VitÃ³rias"] += 1
            estatisticas[jogo][visitante]["Derrotas"] += 1
        elif pontos_mandante < pontos_visitante:
            estatisticas[jogo][visitante]["Pontos"] += 3
            estatisticas[jogo][visitante]["VitÃ³rias"] += 1
            estatisticas[jogo][mandante]["Derrotas"] += 1
        else:
            estatisticas[jogo][mandante]["Pontos"] += 1
            estatisticas[jogo][visitante]["Pontos"] += 1
            estatisticas[jogo][mandante]["Empates"] += 1
            estatisticas[jogo][visitante]["Empates"] += 1

    # Montar DataFrame final
    df_resultado = pd.concat([
        pd.DataFrame({
            "Jogo": jogo,
            "Nome do Time": list(times.keys()),
            "Pontos": [stats["Pontos"] for stats in times.values()],
            "VitÃ³rias": [stats["VitÃ³rias"] for stats in times.values()],
            "Empates": [stats["Empates"] for stats in times.values()],
            "Derrotas": [stats["Derrotas"] for stats in times.values()],
            "Total Cartola": [stats["Total_Cartola"] for stats in times.values()],
            "Cartola Sofrido": [stats["Cartola_Sofrido"] for stats in times.values()],
            "Saldo Cartola": [
            stats["Total_Cartola"] - stats["Cartola_Sofrido"] for stats in times.values()
            ]
        })
        for jogo, times in estatisticas.items()
    ], ignore_index=True)

    df_resultado = df_resultado.sort_values(
        by=["Jogo", "Pontos", "VitÃ³rias", "Total Cartola", "Saldo Cartola"],
        ascending=[True, False, False, False, False]
    )

    df_resultado["PosiÃ§Ã£o"] = df_resultado.groupby("Jogo")\
    .cumcount() + 1

    df_resultado_por_grupo = {
        grupo: df_resultado[df_resultado["Jogo"] == grupo] for grupo in df_resultado["Jogo"].unique()
    }

    return df_resultado, df_resultado_por_grupo

In [15]:
# Gerar a classificaÃ§Ã£o da fase 1 sula
df_resultado, df_resultado_por_jogo = classificacao_por_grupo(df_rodadas, df_pontuacoes)

# Salvar cada grupo em uma aba do Excel
with pd.ExcelWriter("classificacao_por_jogo_oitavas_sula.xlsx") as writer:
    for jogo, df in df_resultado_por_jogo.items():
        df.to_excel(writer, sheet_name=jogo, index=False)

# Exibir a classificaÃ§Ã£o geral
df_resultado_jogo_A = df_resultado[df_resultado["Jogo"] == "Jogo A"]
df_resultado_jogo_B = df_resultado[df_resultado["Jogo"] == "Jogo B"]
df_resultado_jogo_C = df_resultado[df_resultado["Jogo"] == "Jogo C"]
df_resultado_jogo_D = df_resultado[df_resultado["Jogo"] == "Jogo D"]
df_resultado_jogo_E = df_resultado[df_resultado["Jogo"] == "Jogo E"]
df_resultado_jogo_F = df_resultado[df_resultado["Jogo"] == "Jogo F"]
df_resultado_jogo_G = df_resultado[df_resultado["Jogo"] == "Jogo G"]
df_resultado_jogo_H = df_resultado[df_resultado["Jogo"] == "Jogo H"]

display(df_resultado_jogo_A, df_resultado_jogo_B, df_resultado_jogo_C, df_resultado_jogo_D, df_resultado_jogo_E, df_resultado_jogo_F, df_resultado_jogo_G, df_resultado_jogo_H)

,Jogo,Nome do Time,Pontos,VitÃ³rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,PosiÃ§Ã£o
0,Jogo A,Gremiomaniasm,6,2,0,0,138.60,88.92,49.68,1
1,Jogo A,Gig@ntte,0,0,0,2,88.92,138.60,-49.68,2

,Jogo,Nome do Time,Pontos,VitÃ³rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,PosiÃ§Ã£o
3,Jogo B,KING LEONN,6,2,0,0,142.42,133.20,9.22,1
2,Jogo B,BORGES ITAQUI F.C.,0,0,0,2,133.20,142.42,-9.22,2

,Jogo,Nome do Time,Pontos,VitÃ³rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,PosiÃ§Ã£o
5,Jogo C,Laranjja Mecannica,6,2,0,0,108.18,100.20,7.98,1
4,Jogo C,Tatols Beants F.C,0,0,0,2,100.20,108.18,-7.98,2

,Jogo,Nome do Time,Pontos,VitÃ³rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,PosiÃ§Ã£o
6,Jogo D,GrÃªmio imortal 37,6,2,0,0,131.72,81.48,50.24,1
7,Jogo D,Dom Camillo68,0,0,0,2,81.48,131.72,-50.24,2

,Jogo,Nome do Time,Pontos,VitÃ³rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,PosiÃ§Ã£o
9,Jogo E,MauHumor F.C.,6,2,0,0,112.92,97.92,15.00,1
8,Jogo E,F.C. Rei Das Copas,0,0,0,2,97.92,112.92,-15.00,2

,Jogo,Nome do Time,Pontos,VitÃ³rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,PosiÃ§Ã£o
11,Jogo F,TEAM LOPES 99,6,2,0,0,118.96,111.52,7.44,1
10,Jogo F,HS SPORTS F.C,0,0,0,2,111.52,118.96,-7.44,2

,Jogo,Nome do Time,Pontos,VitÃ³rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,PosiÃ§Ã£o
12,Jogo G,FC Los Castilho,6,2,0,0,139.32,127.12,12.20,1
13,Jogo G,Tabajara de Inhaua FC2,0,0,0,2,127.12,139.32,-12.20,2

,Jogo,Nome do Time,Pontos,VitÃ³rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,PosiÃ§Ã£o
14,Jogo H,E.C. BororÃ©,6,2,0,0,133.92,131.62,2.30,1
15,Jogo H,lsauer fc,0,0,0,2,131.62,133.92,-2.30,2

In [16]:
# Criar estrutura em formato de dicionÃ¡rio para JSON/JS
classificacao_js = {}

for grupo, df in df_resultado_por_jogo.items():
    classificacao_js[jogo] = []
    for _, row in df.iterrows():
        classificacao_js[jogo].append({
            "posicao": int(row["PosiÃ§Ã£o"]),
            "nome": row["Nome do Time"],
            "pontos": int(row["Pontos"]),
            "vitorias": int(row["VitÃ³rias"]),
            "empates": int(row["Empates"]),
            "derrotas": int(row["Derrotas"]),
            "totalCartola": float(row["Total Cartola"]),
            "cartolaSofrido": float(row["Cartola Sofrido"]),
            "saldoCartola": float(row["Saldo Cartola"])
        })

# Converter para JSON formatado
json_str = json.dumps(classificacao_js, indent=2, ensure_ascii=False)

# Salvar como arquivo JS com uma variÃ¡vel global
with open("classificacao_por_jogo_oitavas_sula.js", "w", encoding="utf-8") as f:
    f.write("const classificacao_oitavas_sula = ")
    f.write(json_str)
    f.write(";")

In [17]:
def exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada, jogo=None):
    """
    Exibe os resultados de uma rodada especÃ­fica, com pontuaÃ§Ã£o e dados dos times.
    """

    if "Rodada" not in df_rodadas.columns:
        raise ValueError("O DataFrame df_rodadas precisa conter a coluna 'Rodada'.")

    if rodada not in df_rodadas["Rodada"].values:
        return pd.DataFrame([{
            "Jogo": jogo or "-",
            "Rodada": rodada,
            "Mandante_Nome": "-",
            "Mandante_Clube": "-",
            "Mandante_Participante": "-",
            "Mandante_Pontos": "-",
            "Visitante_Nome": "-",
            "Visitante_Clube": "-",
            "Visitante_Participante": "-",
            "Visitante_Pontos": "-",
        }])

    df_filtrado = df_rodadas[df_rodadas["Rodada"] == rodada]
    if jogo:
        df_filtrado = df_filtrado[df_filtrado["Jogo"] == jogo]

    resultados = []

    for _, row in df_filtrado.iterrows():
        jogo_ = row["Jogo"]
        mandante = row["Mandante_Nome"]
        visitante = row["Visitante_Nome"]
        # mandante_clube = row.get("Mandante_Clube", "-")
        # visitante_clube = row.get("Visitante_Clube", "-")
        # mandante_participante = row.get("Mandante_Participante", "-")
        # visitante_participante = row.get("Visitante_Participante", "-")

        pontos_mandante = df_pontuacoes.get(f"Rodada {rodada}", {}).get(mandante, None)
        pontos_visitante = df_pontuacoes.get(f"Rodada {rodada}", {}).get(visitante, None)

        resultados.append({
            "Jogo": jogo_,
            "Rodada": rodada,
            "Mandante_Nome": mandante,
            # "Mandante_Clube": mandante_clube,
            # "Mandante_Participante": mandante_participante,
            "Mandante_Pontos": pontos_mandante,
            "Visitante_Nome": visitante,
            # "Visitante_Clube": visitante_clube,
            # "Visitante_Participante": visitante_participante,
            "Visitante_Pontos": pontos_visitante
        })

    return pd.DataFrame(resultados)

In [18]:
# Exibir resultados da 2Âª rodada
df_resultados_rodada_1 = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=13)

# Exibir apenas os resultados do Grupo B na 1Âª rodada
df_resultados_jogo_B = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=13, jogo="Jogo B")

# Exibir
display(df_resultados_rodada_1)
display(df_resultados_jogo_B)

,Jogo,Rodada,Mandante_Nome,Mandante_Pontos,Visitante_Nome,Visitante_Pontos
0,Jogo A,13,Gig@ntte,44.46,Gremiomaniasm,69.30
1,Jogo B,13,KING LEONN,71.21,BORGES ITAQUI F.C.,66.60
2,Jogo C,13,Laranjja Mecannica,54.09,Tatols Beants F.C,50.10
3,Jogo D,13,Dom Camillo68,40.74,GrÃªmio imortal 37,65.86
4,Jogo E,13,MauHumor F.C.,56.46,F.C. Rei Das Copas,48.96
5,Jogo F,13,TEAM LOPES 99,59.48,HS SPORTS F.C,55.76
6,Jogo G,13,Tabajara de Inhaua FC2,63.56,FC Los Castilho,69.66
7,Jogo H,13,lsauer fc,65.81,E.C. BororÃ©,66.96

,Jogo,Rodada,Mandante_Nome,Mandante_Pontos,Visitante_Nome,Visitante_Pontos
0,Jogo B,13,KING LEONN,71.21,BORGES ITAQUI F.C.,66.60

In [19]:
# Criar arquivo com uma aba para cada rodada contendo os resultados detalhados
from pathlib import Path

# Caminho do arquivo de saÃ­da
caminho_resultados = "resultados_oitavas_sula.xlsx"

# Descobrir as rodadas Ãºnicas no DataFrame
rodadas_disponiveis = sorted(df_rodadas["Rodada"].unique())

with pd.ExcelWriter(caminho_resultados) as writer:
    for rodada in rodadas_disponiveis:
        df_resultados = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=rodada)
        nome_aba = f"Rodada {rodada}"
        df_resultados.to_excel(writer, sheet_name=nome_aba, index=False)

print(f"Arquivo salvo com sucesso: {Path(caminho_resultados).resolve()}")

display(df_resultados)

Arquivo salvo com sucesso: C:\Users\ferna\Projetos\GitHub\cartola_fbc\sulamericana\datasets_sula\resultados_oitavas_sula.xlsx

,Jogo,Rodada,Mandante_Nome,Mandante_Pontos,Visitante_Nome,Visitante_Pontos
0,Jogo A,13,Gig@ntte,44.46,Gremiomaniasm,69.30
1,Jogo B,13,KING LEONN,71.21,BORGES ITAQUI F.C.,66.60
2,Jogo C,13,Laranjja Mecannica,54.09,Tatols Beants F.C,50.10
3,Jogo D,13,Dom Camillo68,40.74,GrÃªmio imortal 37,65.86
4,Jogo E,13,MauHumor F.C.,56.46,F.C. Rei Das Copas,48.96
5,Jogo F,13,TEAM LOPES 99,59.48,HS SPORTS F.C,55.76
6,Jogo G,13,Tabajara de Inhaua FC2,63.56,FC Los Castilho,69.66
7,Jogo H,13,lsauer fc,65.81,E.C. BororÃ©,66.96

In [20]:
resultados_js = []

for rodada in sorted(df_rodadas["Rodada"].unique()):
    df_resultados = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=rodada)
    
    for _, row in df_resultados.iterrows():
        resultado = {
            "jogo": row["Jogo"],
            "rodada": int(rodada),
            "mandante": {
                "nome": row["Mandante_Nome"],
                # "participante": row["Mandante_Participante"],
                # "clube": row["Mandante_Clube"],
                "pontos": float(row["Mandante_Pontos"]) if row["Mandante_Pontos"] is not None else None
            },
            "visitante": {
                "nome": row["Visitante_Nome"],
                # "participante": row["Visitante_Participante"],
                # "clube": row["Visitante_Clube"],
                "pontos": float(row["Visitante_Pontos"]) if row["Visitante_Pontos"] is not None else None
            },
            "vencedor": (
                "mandante" if row["Mandante_Pontos"] is not None and row["Visitante_Pontos"] is not None and row["Mandante_Pontos"] > row["Visitante_Pontos"]
                else "visitante" if row["Mandante_Pontos"] is not None and row["Visitante_Pontos"] is not None and row["Mandante_Pontos"] < row["Visitante_Pontos"]
                else "empate" if row["Mandante_Pontos"] == row["Visitante_Pontos"] and row["Mandante_Pontos"] is not None
                else "indefinido"
            )

        }
        resultados_js.append(resultado)

# Exportar para arquivo .js
import json

with open("resultados_oitavas_sula.js", "w", encoding="utf-8") as f:
    f.write("const resultados_oitavas_sula = ")
    f.write(json.dumps(resultados_js, indent=2, ensure_ascii=False))
    f.write(";")