In [51]:
import cartolafc
import pandas as pd
from difflib import get_close_matches
import json

pd.set_option('display.max_columns', 50)            # permite a visualiza√ß√£o de 50 colunas do dataframe
pd.options.display.float_format = '{:.2f}'.format   # pandas: para todos os n√∫meros aparecerem com duas casas decimais

# Cria uma inst√¢ncia da API
api = cartolafc.Api(attempts=5)

In [52]:
# Carregar o arquivo CSV
df_times = pd.read_excel("times.xlsx")

# Ver os dados carregados
display(df_times.head())

                        Nome
0   A Lenda Super Vasc√£o f.c
1    A Lenda Super Vasco F.c
2  Analove10 ITAQUI GRANDE!!
3                   BordonFC
4         BORGES ITAQUI F.C.

### Buscar IDs dos times no Cartola

In [53]:
nomes_times = ['FBC Colorado', 'Texas Club 2025', 'Real SCI', 'Gig@ntte', 'PraiaBravaFC', 'OlhaEleAiF.C!', 'Gremiomaniasm', 'Sport Clube PAIM', 'PUXE FC', 'RS Express√µes da Arte',
               'ZIVI FC', 'O clube do povo Itaqui/Rss', 'F.C. Rei Das Copas', 'Rolo Compressor ZN', 'Taura da Fronteira FCIII', 'Eleis-Itaqui', 'KING LEONN', 'Laranjja Mecannica', 
               'Fedato Futebol Clube', 'Perronee F.C', 'Pity10', 'pra sempre imortal fc', 'RHANKA DENTY FC25', 'TEAM LOPES 99', 'pura bucha /botafogo', 'cartola scheuer', 
               'Analove10 ITAQUI GRANDE!!', 'DM Studio', 'lsauer fc', 'VASCO MARTINS FC', 'KP JUV.', 'BORGES ITAQUI F.C.', 'Profit Soccer', 'Tabajara de Inhaua FC2', 'TIGRE LEON', 
               'S.E.R. GRILLO', 'seralex', 'E.C. Boror√©', 'MAFRA MARTINS FC', 'BordonFC', 'Tatols Beants F.C', 'FIGUEIRA DA ILHA', 'MauHumor F.C.', 'A Lenda Super Vasc√£o f.c', 
               'TATITTA FC', 'HS SPORTS F.C', 'Dom Camillo68', 'mercearia Estrela', 'CosmoCity ZO', 'clarinvalau fc', 'Gr√™mio imortal 37', 'SERGRILLO', 'Super Vasco f.c', 
               'A Lenda Super Vasco F.c', 'Paulo Virgili FC', 'CALOMBO ITAQUI RS', 'Luis lemes inter', 'emer jr fc', 'Cril Futebol Club', 'ITAQUI F.C.', 'TORRESMO COM PINGA', 
               'L√° do Itaqui', 'FC Los Castilho', 'KillerColorado', "Atl√©tico Colorado 2021", "Time do S.A.P.O", "SISO FC25", "Gr√™mio imortal 37", "BORGES ITAQUI F.C."] #, 'Remo Santo √Çngelo'

# Dicion√°rio para armazenar os IDs dos times
ids_times = {}

# Fun√ß√£o robusta para buscar ID do time por nome
from difflib import get_close_matches

def buscar_id_time(nome_time):
    try:
        times = api.times(query=nome_time)

        # üõ°Ô∏è Prote√ß√£o caso a resposta seja uma string (ex: erro HTML ou mensagem)
        if not isinstance(times, list):
            print(f"‚ö†Ô∏è Resposta inesperada para '{nome_time}':", times)
            return None

        nomes_api = [time.nome for time in times]

        # Compara√ß√£o flex√≠vel (removendo acentos, pontos, etc)
        nome_base = nome_time.lower().replace(".", "").replace("fc", "").replace("f.c", "").strip()
        nomes_api_base = [n.lower().replace(".", "").replace("fc", "").replace("f.c", "").strip() for n in nomes_api]

        nome_proximo = get_close_matches(nome_base, nomes_api_base, n=1, cutoff=0.6)

        if nome_proximo:
            idx = nomes_api_base.index(nome_proximo[0])
            return times[idx].id

    except Exception as e:
        print(f"‚ùå Erro ao buscar ID para o time '{nome_time}': {e}")
    return None


# Buscar IDs automaticamente, sem sobrescrever os que j√° estiverem no dicion√°rio
nao_encontrados = []

for nome in nomes_times:
    if nome not in ids_times:  # Protege os manuais
        time_id = buscar_id_time(nome)
        if time_id:
            ids_times[nome] = time_id
        else:
            nao_encontrados.append(nome)

# ‚ûï Corre√ß√µes manuais
# ids_times["BORGES ITAQUI F.C."] = 3914981
# ids_times["Time do S.A.P.O"] = 12345678  # Substitua pelo ID real

# Mostrar resultado
print("IDs encontrados:", len(ids_times))
print("Times n√£o encontrados automaticamente:", nao_encontrados)

IDs encontrados: 67
Times n√£o encontrados automaticamente: []

### Gerar DataFrame com nome do time, ID e URL

In [54]:
# Gerar DataFrame com nome do time, ID e URL
df_urls = pd.DataFrame([
    {"Nome do Time": nome, "ID do Time": time_id, "Link do Time": f"https://cartola.globo.com/#!/time/{time_id}"}
    for nome, time_id in ids_times.items()
])

# Caminho e nome do arquivo Excel
caminho_excel = "links_times_cartola_liga_serie_A.xlsx"

# Salvar o DataFrame em Excel
df_urls.to_excel(caminho_excel, index=False)

print(f"‚úÖ Arquivo salvo com sucesso: {caminho_excel}")


# Exibir como tabela
display(df_urls.head(30))

‚úÖ Arquivo salvo com sucesso: links_times_cartola_liga_serie_A.xlsx

,Nome do Time,ID do Time,Link do Time
0,FBC Colorado,186283,https://cartola.globo.com/#!/time/186283
1,Texas Club 2025,1273719,https://cartola.globo.com/#!/time/1273719
2,Real SCI,3246608,https://cartola.globo.com/#!/time/3246608
3,Gig@ntte,18421230,https://cartola.globo.com/#!/time/18421230
4,PraiaBravaFC,47546604,https://cartola.globo.com/#!/time/47546604
5,OlhaEleAiF.C!,3708025,https://cartola.globo.com/#!/time/3708025
6,Gremiomaniasm,528730,https://cartola.globo.com/#!/time/528730
7,Sport Clube PAIM,1148959,https://cartola.globo.com/#!/time/1148959
8,PUXE FC,3447341,https://cartola.globo.com/#!/time/3447341
9,RS Express√µes da Arte,896842,https://cartola.globo.com/#!/time/896842
10,ZIVI FC,29199152,https://cartola.globo.com/#!/time/29199152
11,O clube do povo Itaqui/Rss,14227419,https://cartola.globo.com/#!/time/14227419
12,F.C. Rei Das Copas,159074,https://cartola.globo.com/#!/time/159074
13,Rolo Compressor ZN,18223508,https://cartola.globo.com/#!/time/18223508
14,Taura da Fronteira FCIII,28676425,https://cartola.globo.com/#!/time/28676425
15,Eleis-Itaqui,216066,https://cartola.globo.com/#!/time/216066
16,KING LEONN,13951133,https://cartola.globo.com/#!/time/13951133
17,Laranjja Mecannica,18344271,https://cartola.globo.com/#!/time/18344271
18,Fedato Futebol Clube,18642587,https://cartola.globo.com/#!/time/18642587
19,Perronee F.C,2760207,https://cartola.globo.com/#!/time/2760207
20,Pity10,48498051,https://cartola.globo.com/#!/time/48498051
21,pra sempre imortal fc,25313333,https://cartola.globo.com/#!/time/25313333
22,RHANKA DENTY FC25,29411306,https://cartola.globo.com/#!/time/29411306
23,TEAM LOPES 99,479510,https://cartola.globo.com/#!/time/479510
24,pura bucha /botafogo,18661583,https://cartola.globo.com/#!/time/18661583
25,cartola scheuer,3851966,https://cartola.globo.com/#!/time/3851966
26,Analove10 ITAQUI GRANDE!!,44574236,https://cartola.globo.com/#!/time/44574236
27,DM Studio,387186,https://cartola.globo.com/#!/time/387186
28,lsauer fc,44810918,https://cartola.globo.com/#!/time/44810918
29,VASCO MARTINS FC,14696986,https://cartola.globo.com/#!/time/14696986

### Gerar o dicion√°rio ID -> Nome do Time

In [55]:
# Gerar o dicion√°rio ID -> Nome do Time
nomes_por_id = dict(zip(df_urls["ID do Time"], df_urls["Nome do Time"]))

# Mostrar parte do dicion√°rio
dict(list(nomes_por_id.items())[:5])

{186283: 'FBC Colorado',
 1273719: 'Texas Club 2025',
 3246608: 'Real SCI',
 18421230: 'Gig@ntte',
 47546604: 'PraiaBravaFC'}

In [56]:
def campeonato_comecou(api, ids_times):
    """Verifica se o campeonato j√° come√ßou observando a pontua√ß√£o na 1¬™ rodada."""
    for time_id in ids_times.values():
        try:
            pontuacao = api.time(time_id=time_id, rodada=1).ultima_pontuacao
            if pontuacao is not None:
                return True
        except cartolafc.errors.CartolaFCError:
            continue
    return False

def obter_pontuacao_por_rodada(api, time_id, rodada_atual):
    """Obt√©m a pontua√ß√£o do time em cada rodada at√© a rodada atual."""
    pontuacoes = {}
    for rodada in range(1, rodada_atual):
        try:
            time_rodada = api.time(time_id=time_id, rodada=rodada)
            pontuacoes[rodada] = time_rodada.ultima_pontuacao
        except cartolafc.errors.CartolaFCError as e:
            print(f"Erro ao acessar pontua√ß√£o da rodada {rodada} para o time {time_id}: {e}")
            pontuacoes[rodada] = None
    return pontuacoes

def gerar_df_pontuacoes(api, ids_times):
    rodada_atual = api.mercado().rodada_atual
    total_rodadas = 38

    if not campeonato_comecou(api, ids_times):
        print("üìå O campeonato ainda n√£o come√ßou. Criando estrutura com placeholders.")
        df = pd.DataFrame(index=ids_times.keys(), columns=[f'Rodada {i}' for i in range(1, total_rodadas + 1)])
        df[:] = 0
    else:
        df = pd.DataFrame()
        for nome, time_id in ids_times.items():
            pontuacoes = obter_pontuacao_por_rodada(api, time_id, rodada_atual)
            df[nome] = pd.Series(pontuacoes)
        df = df.transpose()
        df.columns = [f'Rodada {i}' for i in range(1, rodada_atual)]
        df.loc['Lider_Rodada'] = df.idxmax()
    
    return df

In [57]:
ids_times = {v: k for k, v in nomes_por_id.items()}

df_pontuacoes = gerar_df_pontuacoes(api, ids_times)

display(df_pontuacoes.head(20))

                           Rodada 1 Rodada 2 Rodada 3 Rodada 4 Rodada 5
FBC Colorado                  64.00    72.69    81.52    78.62    69.38
Texas Club 2025               67.69    85.99    76.92    79.86    71.32
Real SCI                     104.09    75.69    87.02    99.66    82.42
Gig@ntte                     100.34    86.39    86.80    79.58    73.01
PraiaBravaFC                  96.39    96.19    87.05    81.06    94.26
OlhaEleAiF.C!                 96.19   102.99    54.12    98.27    92.73
Gremiomaniasm                 95.23    59.22    95.55    85.67    86.03
Sport Clube PAIM              93.85    67.39    85.52    91.70    86.48
PUXE FC                       84.69    95.29    86.95    85.01    73.92
RS Express√µes da Arte         83.99    92.82    68.52    77.28    57.92
ZIVI FC                       82.98    60.45    59.97    86.36    47.00
O clube do povo Itaqui/Rss    82.68    82.02    77.42    82.73    86.77
F.C. Rei Das Copas            82.49    82.84    71.62    74.57    67.23
Rolo Compressor ZN            81.95    74.49    56.00    76.03    53.52
Taura da Fronteira FCIII      80.25    80.59    58.62    96.53    84.98
Eleis-Itaqui                  79.95    85.99    48.30    71.72    77.08
KING LEONN                    79.30    93.04    84.70    84.48    72.61
Laranjja Mecannica            78.80    96.79    80.10    63.93    74.52
Fedato Futebol Clube          77.58    77.49    75.42    90.16    81.02
Perronee F.C                  76.79    86.92    58.60    91.39    64.12

### Fun√ß√£o para definir a classifica√ß√£o dos times

In [58]:
def classificacao_por_grupo(df_rodadas, df_pontuacoes):
    """
    Classifica√ß√£o dos grupos com base nos confrontos e nas pontua√ß√µes do Cartola.

    Retorna:
    - df_resultado: classifica√ß√£o geral
    - df_resultado_por_grupo: dicion√°rio com classifica√ß√£o separada por grupo
    """
    df_pontuacoes_times = df_pontuacoes.drop(index='Lider_Rodada', errors='ignore')
    estatisticas = {}

    for _, confronto in df_rodadas.iterrows():
        rodada = confronto["Rodada"]
        mandante = confronto["Mandante_Nome"]
        visitante = confronto["Visitante_Nome"]
        grupo = confronto["Grupo"]
        coluna_rodada = f"Rodada {rodada}"

        if mandante not in df_pontuacoes_times.index or visitante not in df_pontuacoes_times.index:
            continue
        if coluna_rodada not in df_pontuacoes_times.columns:
            continue

        pontos_mandante = df_pontuacoes_times.at[mandante, coluna_rodada]
        pontos_visitante = df_pontuacoes_times.at[visitante, coluna_rodada]

        if pd.isnull(pontos_mandante) or pd.isnull(pontos_visitante):
            continue

        for time in [mandante, visitante]:
            if grupo not in estatisticas:
                estatisticas[grupo] = {}
            if time not in estatisticas[grupo]:
                estatisticas[grupo][time] = {
                    "Pontos": 0, "Vit√≥rias": 0, "Empates": 0, "Derrotas": 0,
                    "Total_Cartola": 0, "Cartola_Sofrido": 0
                }

        # Atualizar estat√≠sticas do jogo
        estatisticas[grupo][mandante]["Total_Cartola"] += pontos_mandante
        estatisticas[grupo][mandante]["Cartola_Sofrido"] += pontos_visitante

        estatisticas[grupo][visitante]["Total_Cartola"] += pontos_visitante
        estatisticas[grupo][visitante]["Cartola_Sofrido"] += pontos_mandante

        if pontos_mandante > pontos_visitante:
            estatisticas[grupo][mandante]["Pontos"] += 3
            estatisticas[grupo][mandante]["Vit√≥rias"] += 1
            estatisticas[grupo][visitante]["Derrotas"] += 1
        elif pontos_mandante < pontos_visitante:
            estatisticas[grupo][visitante]["Pontos"] += 3
            estatisticas[grupo][visitante]["Vit√≥rias"] += 1
            estatisticas[grupo][mandante]["Derrotas"] += 1
        else:
            estatisticas[grupo][mandante]["Pontos"] += 1
            estatisticas[grupo][visitante]["Pontos"] += 1
            estatisticas[grupo][mandante]["Empates"] += 1
            estatisticas[grupo][visitante]["Empates"] += 1

    # Montar DataFrame final
    df_resultado = pd.concat([
        pd.DataFrame({
            "Grupo": grupo,
            "Nome do Time": list(times.keys()),
            "Pontos": [stats["Pontos"] for stats in times.values()],
            "Vit√≥rias": [stats["Vit√≥rias"] for stats in times.values()],
            "Empates": [stats["Empates"] for stats in times.values()],
            "Derrotas": [stats["Derrotas"] for stats in times.values()],
            "Total Cartola": [stats["Total_Cartola"] for stats in times.values()],
            "Cartola Sofrido": [stats["Cartola_Sofrido"] for stats in times.values()],
            "Saldo Cartola": [stats["Total_Cartola"] - stats["Cartola_Sofrido"] for stats in times.values()
            ]
        })
        for grupo, times in estatisticas.items()
    ], ignore_index=True)


    df_resultado = df_resultado.sort_values(
        by=["Grupo", "Pontos", "Total Cartola"],
        ascending=[True, False, False]
    )

    df_resultado["Posi√ß√£o"] = df_resultado.groupby("Grupo")\
    .cumcount() + 1

    df_resultado_por_grupo = {
        grupo: df_resultado[df_resultado["Grupo"] == grupo] for grupo in df_resultado["Grupo"].unique()
    }

    return df_resultado, df_resultado_por_grupo

In [59]:
# 1. Carregar confrontos
df_confrontos = pd.read_csv("confrontos_serie_A.csv")

# 2. Renomear colunas se necess√°rio
df_confrontos.rename(columns={
    "Time A": "Mandante_Nome",
    "Time B": "Visitante_Nome"
}, inplace=True)

# 3. Adicionar coluna de grupo fixo
df_confrontos["Grupo"] = "S√©rie A"

display(df_confrontos.head())

# 4. Calcular classifica√ß√£o
df_classificacao, _ = classificacao_por_grupo(df_confrontos, df_pontuacoes)

# 5. Ver resultado
display(df_classificacao.head())

,Rodada,Confronto,Mandante_Nome,Visitante_Nome,ID A,ID B,Grupo
0,1,1,FBC Colorado,Tatols Beants F.C,6,15,S√©rie A
1,1,2,BORGES ITAQUI F.C.,Time do S.A.P.O,3,17,S√©rie A
2,1,3,Fedato Futebol Clube,OlhaEleAiF.C!,7,10,S√©rie A
3,1,4,Atl√©tico Colorado 2021,Texas Club 2025,2,16,S√©rie A
4,1,5,Tabajara de Inhaua FC2,Analove10 ITAQUI GRANDE!!,14,1,S√©rie A

,Grupo,Nome do Time,Pontos,Vit√≥rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Posi√ß√£o
5,S√©rie A,OlhaEleAiF.C!,12,4,0,1,444.30,390.73,53.57,1
18,S√©rie A,Gr√™mio imortal 37,12,4,0,1,429.02,388.02,41.00,2
9,S√©rie A,Analove10 ITAQUI GRANDE!!,12,4,0,1,422.11,356.43,65.68,3
11,S√©rie A,Gremiomaniasm,12,4,0,1,421.70,378.53,43.17,4
19,S√©rie A,SISO FC25,12,4,0,1,415.98,391.23,24.75,5

In [60]:
# 1. Times √∫nicos nos confrontos
times_confrontos = pd.unique(df_confrontos[["Mandante_Nome", "Visitante_Nome"]].values.ravel())

# 2. Times √∫nicos na classifica√ß√£o final
times_classificados = df_classificacao["Nome do Time"].unique()

# 3. Ver quem est√° nos confrontos mas n√£o foi classificado
faltando = set(times_confrontos) - set(times_classificados)

print("‚ùå Times que est√£o nos confrontos, mas faltam na classifica√ß√£o:")
print(faltando)

# df_pontuacoes.loc[["Time do S.A.P.O", "BORGES ITAQUI F.C."]]

‚ùå Times que est√£o nos confrontos, mas faltam na classifica√ß√£o:
set()

In [61]:
# Exportar resultado em CSV
df_classificacao.to_csv("classificacao_serie_a.csv", index=False)

# Carregar o arquivo CSV enviado
df_classificacao = pd.read_csv("classificacao_serie_a.csv")

# Renomear colunas para os nomes usados no JavaScript
df_classificacao.rename(columns={
    "Grupo": "grupo",
    "Nome do Time": "nome",
    "Pontos": "pontos",
    "Vit√≥rias": "vitorias",
    "Empates": "empates",
    "Derrotas": "derrotas",
    "Total Cartola": "totalCartola",
    "Cartola Sofrido": "cartolaSofrido",
    "Saldo Cartola": "saldoCartola",
    "Posi√ß√£o": "posicao"
}, inplace=True)

# Agrupar por grupo (apenas S√©rie A nesse caso)
classificacao_por_grupo = {}
for grupo, dados in df_classificacao.groupby("grupo"):
    classificacao_por_grupo[grupo] = dados.drop(columns="grupo").to_dict(orient="records")

# Salvar como arquivo JavaScript
caminho_saida = "classificacao_serie_A.js"
with open(caminho_saida, "w", encoding="utf-8") as f:
    f.write(f"const classificacaoSerieA = {json.dumps(classificacao_por_grupo, indent=2, ensure_ascii=False)};")

caminho_saida

'classificacao_serie_A.js'

In [62]:
import pandas as pd
import json

# Carregar CSV
df_confrontos = pd.read_csv("confrontos_serie_A.csv")

# Limpar espa√ßos nas colunas
df_confrontos.columns = df_confrontos.columns.str.strip()

# Renomear colunas
df_confrontos.rename(columns={
    "Rodada": "rodada",
    "Confronto": "confronto",
    "Time A": "mandante_nome",
    "Time B": "visitante_nome",
    "ID A": "mandante_id",
    "ID B": "visitante_id"
}, inplace=True)

# Adicionar grupo fixo
df_confrontos["grupo"] = "S√©rie A"

# Gerar estrutura para JS
confrontos_formatado = []
for _, row in df_confrontos.iterrows():
    confronto = {
        "rodada": int(row["rodada"]),
        "confronto": int(row["confronto"]),
        "grupo": row["grupo"],
        "mandante": {"id": row["mandante_id"], "nome": row["mandante_nome"]},
        "visitante": {"id": row["visitante_id"], "nome": row["visitante_nome"]}
    }
    confrontos_formatado.append(confronto)

# Salvar como arquivo JS
js_output = f"const confrontosFase1 = {json.dumps(confrontos_formatado, indent=2, ensure_ascii=False)};"
with open("confrontos_serie_A.js", "w", encoding="utf-8") as f:
    f.write(js_output)

print("‚úÖ Arquivo confrontos_serie_A.js gerado com sucesso!")

‚úÖ Arquivo confrontos_serie_A.js gerado com sucesso!

In [63]:
# Carregar o arquivo CSV enviado
df_confrontos = pd.read_csv("confrontos_serie_A.csv")

display(df_confrontos.head())

,Rodada,Confronto,Time A,Time B,ID A,ID B
0,1,1,FBC Colorado,Tatols Beants F.C,6,15
1,1,2,BORGES ITAQUI F.C.,Time do S.A.P.O,3,17
2,1,3,Fedato Futebol Clube,OlhaEleAiF.C!,7,10
3,1,4,Atl√©tico Colorado 2021,Texas Club 2025,2,16
4,1,5,Tabajara de Inhaua FC2,Analove10 ITAQUI GRANDE!!,14,1

In [64]:
def gerar_resultados_serie_a(df_confrontos, df_pontuacoes, grupo="S√©rie A"):
    """
    Gera um DataFrame com os resultados dos confrontos da S√©rie A por rodada.
    """
    resultados = []

    for _, row in df_confrontos.iterrows():
        rodada = row["Rodada"]
        mandante = row["Time A"]
        visitante = row["Time B"]

        pontos_mandante = df_pontuacoes.get(f"Rodada {rodada}", {}).get(mandante, None)
        pontos_visitante = df_pontuacoes.get(f"Rodada {rodada}", {}).get(visitante, None)

        resultados.append({
            "grupo": grupo,
            "rodada": rodada,
            "mandante": {
                "nome": mandante,
                "pontos": pontos_mandante
            },
            "visitante": {
                "nome": visitante,
                "pontos": pontos_visitante
            }
        })

    return pd.DataFrame(resultados)

In [65]:
df_resultados = gerar_resultados_serie_a(df_confrontos, df_pontuacoes)

# Exportar para .js
import json

with open("resultados_serie_A.js", "w", encoding="utf-8") as f:
    f.write("const resultadosFase1 = ")
    f.write(json.dumps(df_resultados.to_dict(orient="records"), indent=2, ensure_ascii=False))
    f.write(";")

print("‚úÖ Arquivo resultados_serie_A.js gerado com sucesso.")

‚úÖ Arquivo resultados_serie_A.js gerado com sucesso.

# An√°lises de Pontua√ß√µes de Jogadores

## Obter Pontua√ß√µes por Rodada

In [66]:
# Obter a rodada atual do mercado
rodada_atual = api.mercado().rodada_atual

# Fun√ß√£o para verificar se o campeonato j√° come√ßou (h√° pontua√ß√£o na rodada 1)
def campeonato_comecou(ids_times):
    for time_id in ids_times.values():
        try:
            pontuacao = api.time(time_id=time_id, rodada=1).ultima_pontuacao
            if pontuacao is not None:
                return True  # Campeonato j√° come√ßou
        except cartolafc.errors.CartolaFCError:
            continue
    return False  # Nenhuma pontua√ß√£o encontrada

# Verifica se o campeonato come√ßou
if not campeonato_comecou(ids_times):
    print("üìå O campeonato ainda n√£o come√ßou. Criando estrutura com placeholders.")

    total_rodadas = 38  # N√∫mero total de rodadas do campeonato
    df_pontuacoes = pd.DataFrame(index=ids_times.keys(), columns=[f'Rodada {i}' for i in range(1, total_rodadas + 1)])
    df_pontuacoes[:] = 0  # ou None se preferir

else:
    # Fun√ß√£o para obter a pontua√ß√£o de um time em todas as rodadas
    def obter_pontuacao_por_rodada(time_id, rodada_atual):
        pontuacoes = {}
        for rodada in range(1, rodada_atual):
            try:
                time_rodada = api.time(time_id=time_id, rodada=rodada)
                pontuacoes[rodada] = time_rodada.ultima_pontuacao
            except cartolafc.errors.CartolaFCError as e:
                print(f"Erro ao acessar a pontua√ß√£o da rodada {rodada} para o time {time_id}: {e}")
                pontuacoes[rodada] = None
        return pontuacoes

    # DataFrame para armazenar as pontua√ß√µes por rodada
    df_pontuacoes = pd.DataFrame()

    # Obter as pontua√ß√µes por rodada para cada time
    for nome, time_id in ids_times.items():
        pontuacoes = obter_pontuacao_por_rodada(time_id, rodada_atual)
        df_pontuacoes[nome] = pd.Series(pontuacoes)

    # Transpor o DataFrame para ter rodadas como colunas
    df_pontuacoes = df_pontuacoes.transpose()

    # Renomear as colunas para representar as rodadas
    df_pontuacoes.columns = [f'Rodada {i}' for i in range(1, rodada_atual)]

    # Adicionar a linha "Lider_Rodada"
    lider_rodada = df_pontuacoes.idxmax()
    # df_pontuacoes.loc['Lider_Rodada'] = lider_rodada

df_pontuacoes = df_pontuacoes.sort_values(by="Rodada 1", ascending=False)

# Exibir o dataframe
display(df_pontuacoes)

# Salvar o dataframe em um arquivo Excel
df_pontuacoes.to_excel('pontuacoes_por_rodada_serie_A.xlsx')

# _______________________________________________________________________________________________________________________________________________

# Transformar o DataFrame em dicion√°rio: { "Rodada 1": { "Time A": 50.12, ... }, ... }
pontuacoes_dict = df_pontuacoes.transpose().to_dict()

# Converter para formato JS
conteudo_js = f"const pontuacoesPorRodada = {json.dumps(pontuacoes_dict, indent=2, ensure_ascii=False)};"

# Salvar no arquivo .js
with open("pontuacoes_por_rodada_serie_A.js", "w", encoding="utf-8") as f:
    f.write(conteudo_js)

print("‚úÖ Arquivo pontuacoes_por_rodada_serie_A.js salvo com sucesso!")

                   Rodada 1  Rodada 2  Rodada 3  Rodada 4  Rodada 5
Real SCI             104.09     75.69     87.02     99.66     82.42
Gig@ntte             100.34     86.39     86.80     79.58     73.01
PraiaBravaFC          96.39     96.19     87.05     81.06     94.26
OlhaEleAiF.C!         96.19    102.99     54.12     98.27     92.73
Gremiomaniasm         95.23     59.22     95.55     85.67     86.03
...                     ...       ...       ...       ...       ...
CALOMBO ITAQUI RS     56.38     80.62     47.35    102.56     56.88
KillerColorado        56.14    103.22     63.90     99.16     69.15
Luis lemes inter      53.64     80.97     68.55     67.58     74.91
emer jr fc            50.03     60.88     56.00     72.37     54.51
Cril Futebol Club     47.93     79.69     59.72     99.63     49.19

[67 rows x 5 columns]

‚úÖ Arquivo pontuacoes_por_rodada_serie_A.js salvo com sucesso!

## Obter Escala√ß√£o de um  Time em uma determinada Rodada

In [67]:
# Fun√ß√£o para obter a escala√ß√£o de um time em uma rodada espec√≠fica, incluindo o clube do jogador
def obter_escalacao_time(time_id, rodada):
    try:
        time_rodada = api.time(time_id=time_id, rodada=rodada)
        if not time_rodada.atletas:
            print(f"‚ö†Ô∏è Nenhum jogador encontrado para o time {time_id} na rodada {rodada}. A rodada pode ainda n√£o ter ocorrido ou os dados ainda n√£o foram liberados.")
            return []
        jogadores = [
            {
                'Nome': atleta.apelido,
                'Posi√ß√£o': atleta.posicao.nome,
                'Pontos': atleta.pontos,
                'Clube': atleta.clube.nome
            }
            for atleta in time_rodada.atletas
        ]
        return jogadores
    except cartolafc.errors.CartolaFCError as e:
        print(f"Erro ao acessar a escala√ß√£o da rodada {rodada} para o time {time_id}: {e}")
        return []

# Par√¢metros de entrada
rodada_especifica = 4  # Substitua pela rodada desejada
nome_time = 'PraiaBravaFC'  # Substitua pelo nome do time desejado

# Verifica√ß√£o se o time est√° no dicion√°rio
if nome_time not in ids_times:
    print(f"‚ùå O time '{nome_time}' n√£o foi encontrado no dicion√°rio de IDs.")
else:
    time_cartola = ids_times[nome_time]
    time_escalacao = obter_escalacao_time(time_cartola, rodada_especifica)

    if time_escalacao:
        df_escalacao = pd.DataFrame(time_escalacao)
        # df_escalacao.sort_values(by='Posi√ß√£o', inplace=True)  # Ou por 'Pontos' se preferir

        df_escalacao_pontuacao = df_escalacao['Pontos'].sum()

        print(f'‚úÖ Time do Cartola: {nome_time}')
        print(f'üìä Pontua√ß√£o na Rodada {rodada_especifica}: {df_escalacao_pontuacao:.2f}')
        display(df_escalacao)
    else:
        print("‚ö†Ô∏è Escala√ß√£o vazia ou n√£o dispon√≠vel.")

‚úÖ Time do Cartola: PraiaBravaFC
üìä Pontua√ß√£o na Rodada 4: 79.31

              Nome   Posi√ß√£o  Pontos Clube
0   Gabriel Braz√£o   Goleiro   10.20   SAN
1      Kaiki Bruno   Lateral    7.90   CRU
2          Escobar   Lateral   10.70   SAN
3   Jonathan Jesus  Zagueiro    0.00   CRU
4        L√©o Ortiz  Zagueiro    0.00   FLA
5       Arrascaeta      Meia   18.80   FLA
6     Alan Patrick      Meia    5.50   INT
7           Neymar      Meia    0.50   SAN
8   Enner Valencia  Atacante    3.90   INT
9     Yuri Alberto  Atacante    3.50   COR
10       Guilherme  Atacante    5.50   SAN
11     Filipe Lu√≠s   T√©cnico   12.81   FLA

## Obter Escala√ß√µes Gerais

In [68]:
import time  # opcional, para colocar pausa entre requisi√ß√µes

# Fun√ß√£o para obter escala√ß√µes de todos os times em todas as rodadas
def obter_escalacoes_gerais(ids_times, rodada_atual):
    escalacoes_gerais = []

    for nome_time, time_id in ids_times.items():
        print(f"üîÑ Coletando escala√ß√µes para o time: {nome_time}")
        for rodada in range(1, rodada_atual + 1):
            escala√ß√£o = obter_escalacao_time(time_id, rodada)

            if not escala√ß√£o:
                print(f"‚ö†Ô∏è Rodada {rodada}: sem escala√ß√£o dispon√≠vel para {nome_time}.")
                continue

            for jogador in escala√ß√£o:
                jogador['Time Cartola'] = nome_time
                jogador['Rodada'] = rodada
                escalacoes_gerais.append(jogador)

            # Opcional: pausa para evitar sobrecarga de requisi√ß√µes (API friendly)
            time.sleep(0.2)

    return escalacoes_gerais

# Obter escala√ß√µes gerais
escalacoes_gerais = obter_escalacoes_gerais(ids_times, rodada_atual)

# Armazenar escala√ß√µes em um DataFrame
df_escalacoes = pd.DataFrame(escalacoes_gerais)

if df_escalacoes.empty:
    print("‚ö†Ô∏è Nenhuma escala√ß√£o dispon√≠vel at√© o momento. O DataFrame est√° vazio.")
else:
    # Organizar colunas (opcional)
    colunas_ordenadas = ['Rodada', 'Time Cartola', 'Nome', 'Posi√ß√£o', 'Clube', 'Pontos']
    df_escalacoes = df_escalacoes[colunas_ordenadas]

    # Salvar o DataFrame em um arquivo Excel
    df_escalacoes.to_excel('escalacoes_gerais_serie_A.xlsx', index=False)

    # Visualizar primeiras linhas
    display(df_escalacoes.head())

# _________________________________________________________________________________________________________________________________

# Estrutura: { "Rodada 1": [ { jogador1 }, { jogador2 }, ... ], "Rodada 2": [...] }
escalacoes_dict = {}

for _, row in df_escalacoes.iterrows():
    rodada = f"Rodada {int(row['Rodada'])}"
    jogador_info = {
        "time": row["Time Cartola"],
        "nome": row["Nome"],
        "posicao": row["Posi√ß√£o"],
        "clube": row["Clube"],
        "pontos": row["Pontos"]
    }
    escalacoes_dict.setdefault(rodada, []).append(jogador_info)

# Converter para JavaScript
conteudo_js = f"const escalacoesGerais = {json.dumps(escalacoes_dict, indent=2, ensure_ascii=False)};"

# Salvar o arquivo
with open("escalacoes_gerais_serie_A.js", "w", encoding="utf-8") as f:
    f.write(conteudo_js)

print("‚úÖ Arquivo escalacoes_gerais_serie_A.js salvo com sucesso!")

üîÑ Coletando escala√ß√µes para o time: FBC Colorado
üîÑ Coletando escala√ß√µes para o time: Texas Club 2025
üîÑ Coletando escala√ß√µes para o time: Real SCI
üîÑ Coletando escala√ß√µes para o time: Gig@ntte
üîÑ Coletando escala√ß√µes para o time: PraiaBravaFC
üîÑ Coletando escala√ß√µes para o time: OlhaEleAiF.C!
üîÑ Coletando escala√ß√µes para o time: Gremiomaniasm
üîÑ Coletando escala√ß√µes para o time: Sport Clube PAIM
üîÑ Coletando escala√ß√µes para o time: PUXE FC
üîÑ Coletando escala√ß√µes para o time: RS Express√µes da Arte
üîÑ Coletando escala√ß√µes para o time: ZIVI FC
üîÑ Coletando escala√ß√µes para o time: O clube do povo Itaqui/Rss
üîÑ Coletando escala√ß√µes para o time: F.C. Rei Das Copas
üîÑ Coletando escala√ß√µes para o time: Rolo Compressor ZN
üîÑ Coletando escala√ß√µes para o time: Taura da Fronteira FCIII
üîÑ Coletando escala√ß√µes para o time: Eleis-Itaqui
üîÑ Coletando escala√ß√µes para o time: KING LEONN
üîÑ Coletando escala√ß√µes para o time: Laranjja Mecannica
üîÑ Coletando escala√ß√µes para o time: Fedato Futebol Clube
üîÑ Coletando escala√ß√µes para o time: Perronee F.C
üîÑ Coletando escala√ß√µes para o time: Pity10
üîÑ Coletando escala√ß√µes para o time: pra sempre imortal fc
üîÑ Coletando escala√ß√µes para o time: RHANKA DENTY FC25
üîÑ Coletando escala√ß√µes para o time: TEAM LOPES 99
üîÑ Coletando escala√ß√µes para o time: pura bucha /botafogo
üîÑ Coletando escala√ß√µes para o time: cartola scheuer
üîÑ Coletando escala√ß√µes para o time: Analove10 ITAQUI GRANDE!!
üîÑ Coletando escala√ß√µes para o time: DM Studio
üîÑ Coletando escala√ß√µes para o time: lsauer fc
üîÑ Coletando escala√ß√µes para o time: VASCO MARTINS FC
üîÑ Coletando escala√ß√µes para o time: KP JUV.
üîÑ Coletando escala√ß√µes para o time: BORGES ITAQUI F.C.
üîÑ Coletando escala√ß√µes para o time: Profit Soccer
üîÑ Coletando escala√ß√µes para o time: Tabajara de Inhaua FC2
üîÑ Coletando escala√ß√µes para o time: TIGRE LEON
üîÑ Coletando escala√ß√µes para o time: S.E.R. GRILLO
üîÑ Coletando escala√ß√µes para o time: seralex
üîÑ Coletando escala√ß√µes para o time: E.C. Boror√©
üîÑ Coletando escala√ß√µes para o time: MAFRA MARTINS FC
üîÑ Coletando escala√ß√µes para o time: BordonFC
üîÑ Coletando escala√ß√µes para o time: Tatols Beants F.C
üîÑ Coletando escala√ß√µes para o time: FIGUEIRA DA ILHA
üîÑ Coletando escala√ß√µes para o time: MauHumor F.C.
üîÑ Coletando escala√ß√µes para o time: A Lenda Super Vasc√£o f.c
üîÑ Coletando escala√ß√µes para o time: TATITTA FC
üîÑ Coletando escala√ß√µes para o time: HS SPORTS F.C
üîÑ Coletando escala√ß√µes para o time: Dom Camillo68
üîÑ Coletando escala√ß√µes para o time: mercearia Estrela
üîÑ Coletando escala√ß√µes para o time: CosmoCity ZO
üîÑ Coletando escala√ß√µes para o time: clarinvalau fc
üîÑ Coletando escala√ß√µes para o time: Gr√™mio imortal 37
üîÑ Coletando escala√ß√µes para o time: SERGRILLO
üîÑ Coletando escala√ß√µes para o time: Super Vasco f.c
üîÑ Coletando escala√ß√µes para o time: A Lenda Super Vasco F.c
üîÑ Coletando escala√ß√µes para o time: Paulo Virgili FC
üîÑ Coletando escala√ß√µes para o time: CALOMBO ITAQUI RS
üîÑ Coletando escala√ß√µes para o time: Luis lemes inter
üîÑ Coletando escala√ß√µes para o time: emer jr fc
üîÑ Coletando escala√ß√µes para o time: Cril Futebol Club
üîÑ Coletando escala√ß√µes para o time: ITAQUI F.C.
üîÑ Coletando escala√ß√µes para o time: TORRESMO COM PINGA
üîÑ Coletando escala√ß√µes para o time: L√° do Itaqui
üîÑ Coletando escala√ß√µes para o time: FC Los Castilho
üîÑ Coletando escala√ß√µes para o time: KillerColorado
üîÑ Coletando escala√ß√µes para o time: Atl√©tico Colorado 2021
üîÑ Coletando escala√ß√µes para o time: Time do S.A.P.O
üîÑ Coletando escala√ß√µes para o time: SISO FC25

   Rodada  Time Cartola              Nome   Posi√ß√£o Clube  Pontos
0       1  FBC Colorado          Weverton   Goleiro   PAL   11.50
1       1  FBC Colorado              Ren√™   Lateral   FLU    5.00
2       1  FBC Colorado  Juninho Capixaba   Lateral   RBB    7.40
3       1  FBC Colorado            Sabino  Zagueiro   SAO    7.30
4       1  FBC Colorado         L√©o Ortiz  Zagueiro   FLA    0.60

‚úÖ Arquivo escalacoes_gerais_serie_A.js salvo com sucesso!

## Fun√ß√£o para listar os jogadores mais escalados por posi√ß√£o

In [69]:
# Fun√ß√£o para listar os jogadores mais escalados por posi√ß√£o
def listar_jogadores_mais_escalados(df, n_goleiros=3, n_zagueiros=4, n_laterais=4, n_meias=5, n_atacantes=5):
    if df.empty:
        print("‚ö†Ô∏è O DataFrame est√° vazio. Nenhuma escala√ß√£o dispon√≠vel ainda.")
        return pd.DataFrame()

    # Agrupar por nome, posi√ß√£o e clube, somando os pontos e contando a quantidade de vezes escalados
    df_agrupado = df.groupby(['Nome', 'Posi√ß√£o', 'Clube'], as_index=False).agg(
        Pontos=('Pontos', 'sum'),
        Quantidade=('Nome', 'size')
    )

    # Filtrar e ordenar para cada posi√ß√£o
    goleiros = df_agrupado[df_agrupado['Posi√ß√£o'] == 'Goleiro'].sort_values(by='Quantidade', ascending=False).head(n_goleiros)
    zagueiros = df_agrupado[df_agrupado['Posi√ß√£o'] == 'Zagueiro'].sort_values(by='Quantidade', ascending=False).head(n_zagueiros)
    laterais = df_agrupado[df_agrupado['Posi√ß√£o'] == 'Lateral'].sort_values(by='Quantidade', ascending=False).head(n_laterais)
    meias = df_agrupado[df_agrupado['Posi√ß√£o'] == 'Meia'].sort_values(by='Quantidade', ascending=False).head(n_meias)
    atacantes = df_agrupado[df_agrupado['Posi√ß√£o'] == 'Atacante'].sort_values(by='Quantidade', ascending=False).head(n_atacantes)

    # Concatenar os resultados em um √∫nico dataframe
    jogadores_mais_escalados = pd.concat([goleiros, zagueiros, laterais, meias, atacantes])

    # colunas = ['Nome', 'Posi√ß√£o', 'Clube', 'Quantidade', 'Pontos']
    colunas = ['Nome', 'Posi√ß√£o', 'Clube', 'Quantidade']
    jogadores_mais_escalados = jogadores_mais_escalados[colunas]

    return jogadores_mais_escalados

# Execu√ß√£o protegida com verifica√ß√£o
jogadores_mais_escalados = listar_jogadores_mais_escalados(df_escalacoes)

if not jogadores_mais_escalados.empty:
    print("üìã Jogadores mais escalados por posi√ß√£o:")
    display(jogadores_mais_escalados)

üìã Jogadores mais escalados por posi√ß√£o:

                 Nome   Posi√ß√£o Clube  Quantidade
191   Matheus Donelli   Goleiro   COR          75
17            Anthoni   Goleiro   INT          67
271          Weverton   Goleiro   PAL          54
177         L√©o Ortiz  Zagueiro   FLA         179
95       F√©lix Torres  Zagueiro   COR          56
145     Junior Alonso  Zagueiro   CAM          52
131              Jair  Zagueiro   BOT          41
144  Juninho Capixaba   Lateral   RBB         144
16           Angileri   Lateral   COR          69
270            Wesley   Lateral   FLA          68
27           Bernab√©i   Lateral   INT          58
20              Arias      Meia   FLU         197
21         Arrascaeta      Meia   FLA         140
6        Alan Patrick      Meia   INT         116
118    Gustavo Scarpa      Meia   CAM          66
106            Gerson      Meia   FLA          61
275      Yuri Alberto  Atacante   COR         220
199     Memphis Depay  Atacante   COR          94
125        Igor Jesus  Atacante   BOT          80
39               Cano  Atacante   FLU          77
122              Hulk  Atacante   CAM          67

## Fun√ß√£o para listar os times que mais escalaram um determinado jogador

In [70]:
# Fun√ß√£o para listar os times que mais escalaram um determinado jogador
def listar_times_que_mais_escalaram(df, nome_jogador, clube_jogador):
    if df.empty:
        print("‚ö†Ô∏è O DataFrame est√° vazio. Nenhum dado dispon√≠vel para an√°lise.")
        return pd.DataFrame()
    
    df_jogador = df[(df['Nome'] == nome_jogador) & (df['Clube'] == clube_jogador)]

    if df_jogador.empty:
        print(f"‚ö†Ô∏è Nenhuma escala√ß√£o encontrada para o jogador '{nome_jogador}' do clube '{clube_jogador}'.")
        return pd.DataFrame()

    df_times_que_mais_escalaram = df_jogador.groupby('Time Cartola', as_index=False).agg(
        Quantidade=('Nome', 'size')
    ).sort_values(by='Quantidade', ascending=False)
    
    return df_times_que_mais_escalaram

# Exemplo de uso
nome_jogador = "Raphael Veiga"
clube_jogador = "Palmeiras"

times_que_mais_escalaram = listar_times_que_mais_escalaram(df_escalacoes, nome_jogador, clube_jogador)

if not times_que_mais_escalaram.empty:
    print(f"üìä Times que mais escalaram o jogador {nome_jogador} ({clube_jogador}):")
    display(times_que_mais_escalaram)

‚ö†Ô∏è Nenhuma escala√ß√£o encontrada para o jogador 'Raphael Veiga' do clube 'Palmeiras'.

## Fun√ß√£o para Listar Jogadores Agrupados por 'Time Cartola'  e Posi√ß√£o

In [71]:
# Fun√ß√£o para listar todos os jogadores escalados por um determinado time, agrupados por posi√ß√£o, nome e clube
def listar_jogadores_escalados_por_time_e_agrupados(df, nome_time, posicao=None):
    if df.empty:
        print("‚ö†Ô∏è O DataFrame est√° vazio. Nenhum dado dispon√≠vel para an√°lise.")
        return pd.DataFrame()
    
    if nome_time not in df['Time Cartola'].unique():
        print(f"‚ö†Ô∏è O time '{nome_time}' n√£o possui escala√ß√µes registradas.")
        return pd.DataFrame()

    df_time = df[df['Time Cartola'] == nome_time]
    
    if posicao:
        df_time = df_time[df_time['Posi√ß√£o'] == posicao]
        if df_time.empty:
            print(f"‚ö†Ô∏è Nenhum jogador na posi√ß√£o '{posicao}' encontrado para o time '{nome_time}'.")
            return pd.DataFrame()

    df_agrupado = df_time.groupby(['Nome', 'Posi√ß√£o', 'Clube'], as_index=False).agg(
        Pontos=('Pontos', 'sum'),
        Quantidade=('Nome', 'size')
    )

    df_agrupado = df_agrupado.sort_values(by='Quantidade', ascending=False)

    return df_agrupado

# Exemplo de uso
nome_time = "PraiaBravaFC"
posicao = 'Zagueiro'  # Substitua por outra posi√ß√£o ou deixe como None

jogadores_escalados_agrupados = listar_jogadores_escalados_por_time_e_agrupados(df_escalacoes, nome_time, posicao)

if not jogadores_escalados_agrupados.empty:
    display(jogadores_escalados_agrupados.head(20))

             Nome   Posi√ß√£o Clube  Pontos  Quantidade
5       L√©o Ortiz  Zagueiro   FLA   10.40           4
1       Ferraresi  Zagueiro   SAO   -0.60           2
0     Alan Franco  Zagueiro   SAO    9.20           1
2  Jonathan Jesus  Zagueiro   CRU    0.00           1
3   Junior Alonso  Zagueiro   CAM    0.80           1
4            Kanu  Zagueiro   BAH    1.50           1
6          Micael  Zagueiro   PAL    4.70           1
7           Rogel  Zagueiro   INT    6.20           1

### Fun√ß√£o para listar os jogadores mais escalados por posi√ß√£o para um determinado time do Cartola

In [72]:
# Fun√ß√£o para listar os jogadores mais escalados por posi√ß√£o para um determinado time do Cartola
def listar_jogadores_mais_escalados_por_posicao(df, nome_time, top_n=3):
    if df.empty:
        print("‚ö†Ô∏è O DataFrame est√° vazio. Nenhum dado dispon√≠vel.")
        return pd.DataFrame()

    if nome_time not in df['Time Cartola'].unique():
        print(f"‚ö†Ô∏è O time '{nome_time}' n√£o possui escala√ß√µes registradas.")
        return pd.DataFrame()

    df_time = df[df['Time Cartola'] == nome_time].copy()

    df_agrupado = df_time.groupby(['Posi√ß√£o', 'Nome', 'Clube'], as_index=False).agg(
        Pontos=('Pontos', 'sum'),
        Quantidade=('Nome', 'size')
    )

    # Ordenar por posi√ß√£o e quantidade
    df_agrupado = df_agrupado.sort_values(by=['Posi√ß√£o', 'Quantidade'], ascending=[True, False])

    # Selecionar os top N jogadores para cada posi√ß√£o
    df_top_n_por_posicao = df_agrupado.groupby('Posi√ß√£o').head(top_n).copy()

    # Definir a ordem espec√≠fica das posi√ß√µes
    ordem_posicoes = ['Goleiro', 'Lateral', 'Zagueiro', 'Meia', 'Atacante', 'T√©cnico']
    df_top_n_por_posicao['Posi√ß√£o'] = pd.Categorical(df_top_n_por_posicao['Posi√ß√£o'], categories=ordem_posicoes, ordered=True)

    # Ordenar conforme a ordem definida
    df_top_n_por_posicao = df_top_n_por_posicao.sort_values(by=['Posi√ß√£o', 'Quantidade'], ascending=[True, False])

    return df_top_n_por_posicao

# Fun√ß√£o para calcular a pontua√ß√£o total e m√©dia por posi√ß√£o
def calcular_pontuacao_total_e_media(df_jogadores):
    if df_jogadores.empty:
        print("‚ö†Ô∏è Sem dados de jogadores para c√°lculo de pontua√ß√£o.")
        return pd.DataFrame()

    df_total_pontuacao = df_jogadores.groupby('Posi√ß√£o', observed=True).agg(
        Pontuacao_Total=('Pontos', 'sum'),
        Quantidade=('Quantidade', 'sum')
    ).reset_index()

    df_total_pontuacao['Pontuacao_Media'] = df_total_pontuacao['Pontuacao_Total'] / df_total_pontuacao['Quantidade']

    # Definir ordem de exibi√ß√£o
    ordem_posicoes = ['Goleiro', 'Lateral', 'Zagueiro', 'Meia', 'Atacante', 'T√©cnico']
    df_total_pontuacao['Posi√ß√£o'] = pd.Categorical(df_total_pontuacao['Posi√ß√£o'], categories=ordem_posicoes, ordered=True)
    df_total_pontuacao = df_total_pontuacao.sort_values(by='Posi√ß√£o')

    return df_total_pontuacao

In [73]:
nome_time = "OlhaEleAiF.C!"
top_n = 4  # Altere se quiser

jogadores_mais_escalados_por_posicao = listar_jogadores_mais_escalados_por_posicao(df_escalacoes, nome_time, top_n)

if not jogadores_mais_escalados_por_posicao.empty:
    print(f"üìã Jogadores mais escalados por posi√ß√£o para o time {nome_time}:")
    display(jogadores_mais_escalados_por_posicao)

    pontuacao_total_e_media = calcular_pontuacao_total_e_media(jogadores_mais_escalados_por_posicao)

    print("üìä Pontua√ß√£o total e m√©dia por posi√ß√£o:")
    display(pontuacao_total_e_media)

üìã Jogadores mais escalados por posi√ß√£o para o time OlhaEleAiF.C!:

     Posi√ß√£o              Nome Clube  Pontos  Quantidade
14   Goleiro             F√°bio   FLU    3.20           2
11   Goleiro     Ca√≠que Fran√ßa   SPT    8.10           1
12   Goleiro            C√°ssio   CRU   10.20           1
13   Goleiro           Everson   CAM    0.60           1
17   Lateral          Bernab√©i   INT   27.50           3
21   Lateral     Samuel Xavier   FLU    0.40           2
16   Lateral    Andr√©s Hurtado   RBB    4.60           1
18   Lateral          Ewerthon   JUV    1.20           1
43  Zagueiro  Gustavo Henrique   COR   10.80           3
42  Zagueiro      F√©lix Torres   COR    4.60           2
44  Zagueiro     Junior Alonso   CAM    8.30           2
41  Zagueiro             Abner   JUV   13.00           1
23      Meia      Alan Patrick   INT   31.10           4
24      Meia             Arias   FLU   13.60           3
27      Meia          Fernando   INT   18.80           2
25      Meia        Arrascaeta   FLA   18.80           1
10  Atacante      Yuri Alberto   COR   27.50           4
0   Atacante              Cano   FLU   23.00           2
2   Atacante    Enner Valencia   INT   15.70           2
5   Atacante        Igor Jesus   BOT   23.60           2
37   T√©cnico      F√°bio Matias   JUV   10.56           2
36   T√©cnico              Cuca   CAM    4.97           1
38   T√©cnico   Leonardo Jardim   CRU    7.59           1
39   T√©cnico              Pepa   SPT    4.17           1

üìä Pontua√ß√£o total e m√©dia por posi√ß√£o:

    Posi√ß√£o  Pontuacao_Total  Quantidade  Pontuacao_Media
0   Goleiro            22.10           5             4.42
1   Lateral            33.70           7             4.81
2  Zagueiro            36.70           8             4.59
3      Meia            82.30          10             8.23
4  Atacante            89.80          10             8.98
5   T√©cnico            27.29           5             5.46