In [1]:
import cartolafc
import pandas as pd
from difflib import get_close_matches
import json

pd.set_option('display.max_columns', 50)            # permite a visualiza√ß√£o de 50 colunas do dataframe
pd.options.display.float_format = '{:.2f}'.format   # pandas: para todos os n√∫meros aparecerem com duas casas decimais

# Cria uma inst√¢ncia da API
api = cartolafc.Api(attempts=5)

2025-08-12 21:50:48,030 - numexpr.utils - INFO - NumExpr defaulting to 8 threads.

In [2]:
# Carregar o arquivo CSV
df_times = pd.read_excel("times.xlsx")

# Ver os dados carregados
display(df_times.head())

                        Nome
0   A Lenda Super Vasc√£o f.c
1    A Lenda Super Vasco F.c
2  Analove10 ITAQUI GRANDE!!
3                   BordonFC
4         BORGES ITAQUI F.C.

### Buscar IDs dos times no Cartola

In [3]:
nomes_times = ['KP JUV.', 'Noah A 10', 'pura bucha /botafogo', 'Tatols Beants F.C', 'DM Studio', 'cartola scheuer', 'Texas Club 2025', 'Super Vasco f.c', 'TEAM LOPES 99', 'S.E.R. GRILLO',
               'TIGRE LEON', 'Fedato Futebol Clube', 'HS SPORTS F.C', 'BORGES CLIMA FUT F.C', 'SERGRILLO', 'Dom Camillo68', 'seralex', 'lsauer fc', 'ITAQUI F. C.', 'Cril Futebol Club']

# Dicion√°rio para armazenar os IDs dos times
ids_times = {}

# Fun√ß√£o robusta para buscar ID do time por nome
from difflib import get_close_matches

def buscar_id_time(nome_time):
    try:
        times = api.times(query=nome_time)

        # üõ°Ô∏è Prote√ß√£o caso a resposta seja uma string (ex: erro HTML ou mensagem)
        if not isinstance(times, list):
            print(f"‚ö†Ô∏è Resposta inesperada para '{nome_time}':", times)
            return None

        nomes_api = [time.nome for time in times]

        # Compara√ß√£o flex√≠vel (removendo acentos, pontos, etc)
        nome_base = nome_time.lower().replace(".", "").replace("fc", "").replace("f.c", "").strip()
        nomes_api_base = [n.lower().replace(".", "").replace("fc", "").replace("f.c", "").strip() for n in nomes_api]

        nome_proximo = get_close_matches(nome_base, nomes_api_base, n=1, cutoff=0.6)

        if nome_proximo:
            idx = nomes_api_base.index(nome_proximo[0])
            return times[idx].id

    except Exception as e:
        print(f"‚ùå Erro ao buscar ID para o time '{nome_time}': {e}")
    return None


# Buscar IDs automaticamente, sem sobrescrever os que j√° estiverem no dicion√°rio
nao_encontrados = []

for nome in nomes_times:
    if nome not in ids_times:  # Protege os manuais
        time_id = buscar_id_time(nome)
        if time_id:
            ids_times[nome] = time_id
        else:
            nao_encontrados.append(nome)

# ‚ûï Corre√ß√µes manuais
# ids_times["BORGES ITAQUI F.C."] = 3914981
# ids_times["Time do S.A.P.O"] = 12345678  # Substitua pelo ID real

# Mostrar resultado
print("IDs encontrados:", len(ids_times))
print("Times n√£o encontrados automaticamente:", nao_encontrados)

IDs encontrados: 20
Times n√£o encontrados automaticamente: []

### Gerar DataFrame com nome do time, ID e URL

In [4]:
# Gerar DataFrame com nome do time, ID e URL
df_urls = pd.DataFrame([
    {"Nome do Time": nome, "ID do Time": time_id, "Link do Time": f"https://cartola.globo.com/#!/time/{time_id}"}
    for nome, time_id in ids_times.items()
])

# Caminho e nome do arquivo Excel
caminho_excel = "links_times_cartola_liga_serie_C.xlsx"

# Salvar o DataFrame em Excel
df_urls.to_excel(caminho_excel, index=False)

print(f"‚úÖ Arquivo salvo com sucesso: {caminho_excel}")


# Exibir como tabela
display(df_urls.head(30))

‚úÖ Arquivo salvo com sucesso: links_times_cartola_liga_serie_C.xlsx

,Nome do Time,ID do Time,Link do Time
0,KP JUV.,18346776,https://cartola.globo.com/#!/time/18346776
1,Noah A 10,49960687,https://cartola.globo.com/#!/time/49960687
2,pura bucha /botafogo,18661583,https://cartola.globo.com/#!/time/18661583
3,Tatols Beants F.C,212042,https://cartola.globo.com/#!/time/212042
4,DM Studio,387186,https://cartola.globo.com/#!/time/387186
5,cartola scheuer,3851966,https://cartola.globo.com/#!/time/3851966
6,Texas Club 2025,1273719,https://cartola.globo.com/#!/time/1273719
7,Super Vasco f.c,13707047,https://cartola.globo.com/#!/time/13707047
8,TEAM LOPES 99,479510,https://cartola.globo.com/#!/time/479510
9,S.E.R. GRILLO,5823700,https://cartola.globo.com/#!/time/5823700
10,TIGRE LEON,3424598,https://cartola.globo.com/#!/time/3424598
11,Fedato Futebol Clube,18642587,https://cartola.globo.com/#!/time/18642587
12,HS SPORTS F.C,17887202,https://cartola.globo.com/#!/time/17887202
13,BORGES CLIMA FUT F.C,49852616,https://cartola.globo.com/#!/time/49852616
14,SERGRILLO,25811332,https://cartola.globo.com/#!/time/25811332
15,Dom Camillo68,20696550,https://cartola.globo.com/#!/time/20696550
16,seralex,29228373,https://cartola.globo.com/#!/time/29228373
17,lsauer fc,44810918,https://cartola.globo.com/#!/time/44810918
18,ITAQUI F. C.,14369,https://cartola.globo.com/#!/time/14369
19,Cril Futebol Club,5664592,https://cartola.globo.com/#!/time/5664592

### Gerar o dicion√°rio ID -> Nome do Time

In [5]:
# Gerar o dicion√°rio ID -> Nome do Time
nomes_por_id = dict(zip(df_urls["ID do Time"], df_urls["Nome do Time"]))

# Mostrar parte do dicion√°rio
dict(list(nomes_por_id.items())[:20])

{18346776: 'KP JUV.',
 49960687: 'Noah A 10',
 18661583: 'pura bucha /botafogo',
 212042: 'Tatols Beants F.C',
 387186: 'DM Studio',
 3851966: 'cartola scheuer',
 1273719: 'Texas Club 2025',
 13707047: 'Super Vasco f.c',
 479510: 'TEAM LOPES 99',
 5823700: 'S.E.R. GRILLO',
 3424598: 'TIGRE LEON',
 18642587: 'Fedato Futebol Clube',
 17887202: 'HS SPORTS F.C',
 49852616: 'BORGES CLIMA FUT F.C',
 25811332: 'SERGRILLO',
 20696550: 'Dom Camillo68',
 29228373: 'seralex',
 44810918: 'lsauer fc',
 14369: 'ITAQUI F. C.',
 5664592: 'Cril Futebol Club'}

In [6]:
def campeonato_comecou(api, ids_times):
    """Verifica se o campeonato j√° come√ßou observando a pontua√ß√£o na 1¬™ rodada."""
    for time_id in ids_times.values():
        try:
            pontuacao = api.time(time_id=time_id, rodada=1).ultima_pontuacao
            if pontuacao is not None:
                return True
        except cartolafc.errors.CartolaFCError:
            continue
    return False

def obter_pontuacao_por_rodada(api, time_id, rodada_atual):
    """Obt√©m a pontua√ß√£o do time em cada rodada at√© a rodada atual."""
    pontuacoes = {}
    for rodada in range(1, rodada_atual):
        try:
            time_rodada = api.time(time_id=time_id, rodada=rodada)
            pontuacoes[rodada] = time_rodada.ultima_pontuacao
        except cartolafc.errors.CartolaFCError as e:
            print(f"Erro ao acessar pontua√ß√£o da rodada {rodada} para o time {time_id}: {e}")
            pontuacoes[rodada] = None
    return pontuacoes

def gerar_df_pontuacoes(api, ids_times):
    rodada_atual = api.mercado().rodada_atual
    total_rodadas = 38

    if not campeonato_comecou(api, ids_times):
        print("üìå O campeonato ainda n√£o come√ßou. Criando estrutura com placeholders.")
        df = pd.DataFrame(index=ids_times.keys(), columns=[f'Rodada {i}' for i in range(1, total_rodadas + 1)])
        df[:] = 0
    else:
        df = pd.DataFrame()
        for nome, time_id in ids_times.items():
            pontuacoes = obter_pontuacao_por_rodada(api, time_id, rodada_atual)
            df[nome] = pd.Series(pontuacoes)
        df = df.transpose()
        df.columns = [f'Rodada {i}' for i in range(1, rodada_atual)]
        df.loc['Lider_Rodada'] = df.idxmax()
    
    return df

In [7]:
ids_times = {v: k for k, v in nomes_por_id.items()}

df_pontuacoes = gerar_df_pontuacoes(api, ids_times)

display(df_pontuacoes.head(20))

,Rodada 1,Rodada 2,Rodada 3,Rodada 4,Rodada 5,Rodada 6,Rodada 7,Rodada 8,Rodada 9,Rodada 10,Rodada 11,Rodada 12,Rodada 13,Rodada 14,Rodada 15,Rodada 16,Rodada 17,Rodada 18,Rodada 19
KP JUV.,72.24,103.19,92.35,75.63,84.61,98.06,85.69,110.15,62.12,57.62,69.15,57.56,128.31,74.00,96.20,70.61,65.55,61.57,57.35
Noah A 10,85.15,75.29,94.62,116.71,80.18,121.36,113.49,105.74,55.27,70.32,113.27,59.51,106.81,70.50,77.72,75.86,53.21,69.60,71.20
pura bucha /botafogo,73.78,73.84,77.12,88.32,76.42,77.50,98.79,76.34,81.70,68.67,72.16,73.66,106.21,61.60,90.10,87.96,65.44,65.30,76.43
Tatols Beants F.C,66.60,73.32,99.55,94.87,83.03,86.06,105.71,97.39,75.55,83.87,96.92,50.10,79.41,64.45,97.20,76.91,50.65,79.52,48.13
DM Studio,72.55,81.69,82.67,106.62,73.53,86.06,133.81,92.98,60.45,69.57,95.94,54.27,104.75,76.00,85.69,65.22,63.91,81.80,65.81
cartola scheuer,73.09,86.39,75.10,77.36,80.92,98.30,95.79,99.45,73.27,73.57,108.04,69.26,132.21,74.20,101.80,70.17,52.84,94.87,69.60
Texas Club 2025,67.69,85.99,76.92,79.86,71.32,119.85,98.71,109.15,83.90,73.67,110.51,69.26,111.91,74.20,101.80,74.01,47.51,98.00,61.65
Super Vasco f.c,60.55,96.99,71.40,90.63,85.32,100.86,96.39,121.94,73.75,76.97,124.47,62.76,93.51,81.90,100.10,79.10,48.81,74.40,73.45
TEAM LOPES 99,74.09,73.19,68.42,109.06,87.27,106.06,127.76,139.40,78.32,54.27,84.74,59.48,120.87,75.80,89.80,70.97,56.31,124.30,68.25
S.E.R. GRILLO,68.48,81.12,53.84,60.93,72.33,95.32,86.09,46.90,71.22,20.85,75.68,34.76,90.11,38.40,75.96,57.13,38.23,80.62,66.36
TIGRE LEON,69.40,83.04,83.60,61.83,62.41,85.16,100.16,117.55,69.48,47.87,71.71,93.51,113.67,75.80,103.16,69.21,51.98,102.07,59.13
Fedato Futebol Clube,77.58,77.49,75.42,90.16,81.02,92.06,104.31,98.49,62.97,66.07,110.41,56.26,107.65,78.38,88.49,85.05,58.25,71.07,60.12
HS SPORTS F.C,64.79,94.48,65.12,108.16,83.48,82.65,98.19,92.49,91.57,66.47,125.61,55.76,113.51,66.40,98.10,80.86,67.15,108.70,72.30
BORGES CLIMA FUT F.C,64.09,93.19,62.90,85.16,68.42,106.15,111.86,150.95,95.92,69.27,114.54,62.26,96.51,64.80,91.60,76.66,36.89,80.60,54.63
SERGRILLO,61.15,104.17,40.77,51.63,84.68,69.61,92.36,81.15,51.67,42.11,54.71,33.37,90.21,57.25,89.91,57.27,73.89,50.25,46.03
Dom Camillo68,63.65,67.69,71.20,136.21,103.57,78.56,119.89,93.04,68.35,64.50,123.92,40.74,108.22,78.30,101.80,72.81,62.54,82.20,47.95
seralex,68.40,72.89,38.22,77.06,69.92,66.76,99.29,136.94,50.32,63.92,150.37,57.70,121.04,92.60,102.90,70.11,36.71,88.92,75.65
lsauer fc,72.38,79.29,82.17,104.93,66.22,108.56,87.71,118.45,69.15,57.17,118.31,65.81,117.11,73.10,98.50,80.35,44.16,82.58,52.00
ITAQUI F. C.,65.84,71.49,74.02,76.72,54.52,56.33,102.20,67.10,85.58,61.07,92.52,55.90,86.25,76.30,61.00,60.75,61.28,99.60,53.96
Cril Futebol Club,47.93,79.69,59.72,99.63,49.19,96.75,141.41,90.54,93.10,78.97,127.27,76.56,82.31,14.00,82.16,70.81,57.04,73.28,60.30

### Fun√ß√£o para definir a classifica√ß√£o dos times

In [8]:
def classificacao_por_grupo(df_rodadas, df_pontuacoes):
    """
    Classifica√ß√£o dos grupos com base nos confrontos e nas pontua√ß√µes do Cartola.

    Retorna:
    - df_resultado: classifica√ß√£o geral
    - df_resultado_por_grupo: dicion√°rio com classifica√ß√£o separada por grupo
    """
    df_pontuacoes_times = df_pontuacoes.drop(index='Lider_Rodada', errors='ignore')
    estatisticas = {}

    for _, confronto in df_rodadas.iterrows():
        rodada = confronto["Rodada"]
        mandante = confronto["Mandante_Nome"]
        visitante = confronto["Visitante_Nome"]
        grupo = confronto["Grupo"]
        coluna_rodada = f"Rodada {rodada}"

        if mandante not in df_pontuacoes_times.index or visitante not in df_pontuacoes_times.index:
            continue
        if coluna_rodada not in df_pontuacoes_times.columns:
            continue

        pontos_mandante = df_pontuacoes_times.at[mandante, coluna_rodada]
        pontos_visitante = df_pontuacoes_times.at[visitante, coluna_rodada]

        if pd.isnull(pontos_mandante) or pd.isnull(pontos_visitante):
            continue

        for time in [mandante, visitante]:
            if grupo not in estatisticas:
                estatisticas[grupo] = {}
            if time not in estatisticas[grupo]:
                estatisticas[grupo][time] = {
                    "Pontos": 0, "Vit√≥rias": 0, "Empates": 0, "Derrotas": 0,
                    "Total_Cartola": 0, "Cartola_Sofrido": 0
                }

        # Atualizar estat√≠sticas do jogo
        estatisticas[grupo][mandante]["Total_Cartola"] += pontos_mandante
        estatisticas[grupo][mandante]["Cartola_Sofrido"] += pontos_visitante

        estatisticas[grupo][visitante]["Total_Cartola"] += pontos_visitante
        estatisticas[grupo][visitante]["Cartola_Sofrido"] += pontos_mandante

        if pontos_mandante > pontos_visitante:
            estatisticas[grupo][mandante]["Pontos"] += 3
            estatisticas[grupo][mandante]["Vit√≥rias"] += 1
            estatisticas[grupo][visitante]["Derrotas"] += 1
        elif pontos_mandante < pontos_visitante:
            estatisticas[grupo][visitante]["Pontos"] += 3
            estatisticas[grupo][visitante]["Vit√≥rias"] += 1
            estatisticas[grupo][mandante]["Derrotas"] += 1
        else:
            estatisticas[grupo][mandante]["Pontos"] += 1
            estatisticas[grupo][visitante]["Pontos"] += 1
            estatisticas[grupo][mandante]["Empates"] += 1
            estatisticas[grupo][visitante]["Empates"] += 1

    # Montar DataFrame final
    df_resultado = pd.concat([
        pd.DataFrame({
            "Grupo": grupo,
            "Nome do Time": list(times.keys()),
            "Pontos": [stats["Pontos"] for stats in times.values()],
            "Vit√≥rias": [stats["Vit√≥rias"] for stats in times.values()],
            "Empates": [stats["Empates"] for stats in times.values()],
            "Derrotas": [stats["Derrotas"] for stats in times.values()],
            "Total Cartola": [stats["Total_Cartola"] for stats in times.values()],
            "Cartola Sofrido": [stats["Cartola_Sofrido"] for stats in times.values()],
            "Saldo Cartola": [stats["Total_Cartola"] - stats["Cartola_Sofrido"] for stats in times.values()
            ]
        })
        for grupo, times in estatisticas.items()
    ], ignore_index=True)


    df_resultado = df_resultado.sort_values(
        by=["Grupo", "Pontos", "Total Cartola"],
        ascending=[True, False, False]
    )

    df_resultado["Posi√ß√£o"] = df_resultado.groupby("Grupo")\
    .cumcount() + 1

    df_resultado_por_grupo = {
        grupo: df_resultado[df_resultado["Grupo"] == grupo] for grupo in df_resultado["Grupo"].unique()
    }

    return df_resultado, df_resultado_por_grupo

In [9]:
# 1. Carregar confrontos
df_confrontos = pd.read_csv("confrontos_serie_C.csv")

# 2. Renomear colunas se necess√°rio
df_confrontos.rename(columns={
    "Time A": "Mandante_Nome",
    "Time B": "Visitante_Nome"
}, inplace=True)

# 3. Adicionar coluna de grupo fixo
df_confrontos["Grupo"] = "S√©rie C"

display(df_confrontos.head())

# 4. Calcular classifica√ß√£o
df_classificacao, _ = classificacao_por_grupo(df_confrontos, df_pontuacoes)

# 5. Ver resultado
display(df_classificacao.head(20))

,Rodada,Confronto,Mandante_Nome,Visitante_Nome,ID A,ID B,Grupo
0,1,1,TEAM LOPES 99,TIGRE LEON,13,14,S√©rie C
1,1,2,Fedato Futebol Clube,Dom Camillo68,5,4,S√©rie C
2,1,3,Texas Club 2025,S.E.R. GRILLO,16,10,S√©rie C
3,1,4,HS SPORTS F.C,seralex,6,20,S√©rie C
4,1,5,Noah A 10,Cril Futebol Club,9,2,S√©rie C

,Grupo,Nome do Time,Pontos,Vit√≥rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Posi√ß√£o
13,S√©rie C,Super Vasco f.c,39,13,0,6,1613.30,1459.42,153.88,1
0,S√©rie C,TEAM LOPES 99,36,12,0,7,1668.36,1585.65,82.71,2
4,S√©rie C,Texas Club 2025,36,12,0,7,1615.91,1496.24,119.67,3
10,S√©rie C,cartola scheuer,33,11,0,8,1606.23,1542.87,63.36,4
3,S√©rie C,Dom Camillo68,33,11,0,8,1585.14,1568.43,16.71,5
14,S√©rie C,DM Studio,33,11,0,8,1553.32,1498.64,54.68,6
7,S√©rie C,seralex,33,11,0,8,1539.72,1451.32,88.40,7
19,S√©rie C,KP JUV.,33,11,0,8,1521.96,1466.80,55.16,8
6,S√©rie C,HS SPORTS F.C,30,10,0,9,1635.79,1511.55,124.24,9
8,S√©rie C,Noah A 10,30,10,0,9,1615.81,1563.44,52.37,10
18,S√©rie C,BORGES CLIMA FUT F.C,30,10,0,9,1586.40,1557.55,28.85,11
16,S√©rie C,pura bucha /botafogo,30,10,0,9,1491.34,1469.54,21.80,12
1,S√©rie C,TIGRE LEON,27,9,0,10,1520.74,1583.55,-62.81,13
9,S√©rie C,Cril Futebol Club,27,9,0,10,1480.66,1550.91,-70.25,14
17,S√©rie C,ITAQUI F. C.,27,9,0,10,1362.43,1440.91,-78.48,15
15,S√©rie C,lsauer fc,24,8,0,11,1577.95,1546.19,31.76,16
12,S√©rie C,Tatols Beants F.C,24,8,0,11,1509.24,1502.09,7.15,17
2,S√©rie C,Fedato Futebol Clube,21,7,0,12,1541.25,1581.06,-39.81,18
5,S√©rie C,S.E.R. GRILLO,15,5,0,14,1214.33,1496.98,-282.65,19
11,S√©rie C,SERGRILLO,9,3,0,16,1232.19,1598.93,-366.74,20

In [10]:
# 1. Times √∫nicos nos confrontos
times_confrontos = pd.unique(df_confrontos[["Mandante_Nome", "Visitante_Nome"]].values.ravel())

# 2. Times √∫nicos na classifica√ß√£o final
times_classificados = df_classificacao["Nome do Time"].unique()

# 3. Ver quem est√° nos confrontos mas n√£o foi classificado
faltando = set(times_confrontos) - set(times_classificados)

print("‚ùå Times que est√£o nos confrontos, mas faltam na classifica√ß√£o:")
print(faltando)

# df_pontuacoes.loc[["Time do S.A.P.O", "BORGES ITAQUI F.C."]]

‚ùå Times que est√£o nos confrontos, mas faltam na classifica√ß√£o:
set()

In [11]:
# Exportar resultado em CSV
df_classificacao.to_csv("classificacao_serie_C.csv", index=False)

# Carregar o arquivo CSV enviado
df_classificacao = pd.read_csv("classificacao_serie_C.csv")

# Renomear colunas para os nomes usados no JavaScript
df_classificacao.rename(columns={
    "Grupo": "grupo",
    "Nome do Time": "nome",
    "Pontos": "pontos",
    "Vit√≥rias": "vitorias",
    "Empates": "empates",
    "Derrotas": "derrotas",
    "Total Cartola": "totalCartola",
    "Cartola Sofrido": "cartolaSofrido",
    "Saldo Cartola": "saldoCartola",
    "Posi√ß√£o": "posicao"
}, inplace=True)

# Agrupar por grupo (apenas S√©rie A nesse caso)
classificacao_por_grupo = {}
for grupo, dados in df_classificacao.groupby("grupo"):
    classificacao_por_grupo[grupo] = dados.drop(columns="grupo").to_dict(orient="records")

# Salvar como arquivo JavaScript
caminho_saida = "classificacao_serie_C.js"
with open(caminho_saida, "w", encoding="utf-8") as f:
    f.write(f"const classificacaoSerieA = {json.dumps(classificacao_por_grupo, indent=2, ensure_ascii=False)};")

caminho_saida

'classificacao_serie_C.js'

In [12]:
import pandas as pd
import json

# Carregar CSV
df_confrontos = pd.read_csv("confrontos_serie_C.csv")

# Limpar espa√ßos nas colunas
df_confrontos.columns = df_confrontos.columns.str.strip()

# Renomear colunas
df_confrontos.rename(columns={
    "Rodada": "rodada",
    "Confronto": "confronto",
    "Time A": "mandante_nome",
    "Time B": "visitante_nome",
    "ID A": "mandante_id",
    "ID B": "visitante_id"
}, inplace=True)

# Adicionar grupo fixo
df_confrontos["grupo"] = "S√©rie C"

# Gerar estrutura para JS
confrontos_formatado = []
for _, row in df_confrontos.iterrows():
    confronto = {
        "rodada": int(row["rodada"]),
        "confronto": int(row["confronto"]),
        "grupo": row["grupo"],
        "mandante": {"id": row["mandante_id"], "nome": row["mandante_nome"]},
        "visitante": {"id": row["visitante_id"], "nome": row["visitante_nome"]}
    }
    confrontos_formatado.append(confronto)

# Salvar como arquivo JS
js_output = f"const confrontosFase1 = {json.dumps(confrontos_formatado, indent=2, ensure_ascii=False)};"
with open("confrontos_serie_C.js", "w", encoding="utf-8") as f:
    f.write(js_output)

print("‚úÖ Arquivo confrontos_serie_C.js gerado com sucesso!")

‚úÖ Arquivo confrontos_serie_C.js gerado com sucesso!

In [13]:
# Carregar o arquivo CSV enviado
df_confrontos = pd.read_csv("confrontos_serie_C.csv")

display(df_confrontos.head(10))

   Rodada  Confronto                Time A             Time B  ID A  ID B
0       1          1         TEAM LOPES 99         TIGRE LEON    13    14
1       1          2  Fedato Futebol Clube      Dom Camillo68     5     4
2       1          3       Texas Club 2025      S.E.R. GRILLO    16    10
3       1          4         HS SPORTS F.C            seralex     6    20
4       1          5             Noah A 10  Cril Futebol Club     9     2
5       1          6       cartola scheuer          SERGRILLO    17    11
6       1          7     Tatols Beants F.C    Super Vasco f.c    15    12
7       1          8             DM Studio          lsauer fc     3    18
8       1          9  pura bucha /botafogo       ITAQUI F. C.    19     7
9       1         10  BORGES CLIMA FUT F.C            KP JUV.     1     8

In [14]:
def gerar_resultados_serie_a(df_confrontos, df_pontuacoes, grupo="S√©rie C"):
    """
    Gera um DataFrame com os resultados dos confrontos da S√©rie C por rodada.
    """
    resultados = []

    for _, row in df_confrontos.iterrows():
        rodada = row["Rodada"]
        mandante = row["Time A"]
        visitante = row["Time B"]

        pontos_mandante = df_pontuacoes.get(f"Rodada {rodada}", {}).get(mandante, None)
        pontos_visitante = df_pontuacoes.get(f"Rodada {rodada}", {}).get(visitante, None)

        resultados.append({
            "grupo": grupo,
            "rodada": rodada,
            "mandante": {
                "nome": mandante,
                "pontos": pontos_mandante
            },
            "visitante": {
                "nome": visitante,
                "pontos": pontos_visitante
            }
        })

    return pd.DataFrame(resultados)

In [15]:
df_resultados = gerar_resultados_serie_a(df_confrontos, df_pontuacoes)

# Exportar para .js
import json

with open("resultados_serie_C.js", "w", encoding="utf-8") as f:
    f.write("const resultadosFase1 = ")
    f.write(json.dumps(df_resultados.to_dict(orient="records"), indent=2, ensure_ascii=False))
    f.write(";")

print("‚úÖ Arquivo resultados_serie_C.js gerado com sucesso.")

‚úÖ Arquivo resultados_serie_C.js gerado com sucesso.