### Inicializa√ß√£o da API do Cartola FC e Configura√ß√£o do Pandas

In [1]:
import cartolafc
import pandas as pd
from difflib import get_close_matches
import json

pd.set_option('display.max_columns', 50)            # permite a visualiza√ß√£o de 50 colunas do dataframe
pd.options.display.float_format = '{:.2f}'.format   # pandas: para todos os n√∫meros aparecerem com duas casas decimais

# Cria uma inst√¢ncia da API
api = cartolafc.Api(attempts=5)

2025-04-22 11:14:54,279 - numexpr.utils - INFO - NumExpr defaulting to 8 threads.

### Organiza√ß√£o dos Grupos da Fase 1 da Libertadores e Exporta√ß√£o para Excel

In [2]:
# Dicion√°rio com ID -> Nome do time (gerado anteriormente)
nomes_por_id = {
    18661583: 'pura bucha /botafogo',
    3914981: 'BORGES ITAQUI F.C.',
    20696550: 'Dom Camillo68',    
    117598: 'A Lenda Super Vasco F.c',    
    17887202: 'HS SPORTS F.C',
    47543456: 'Tabajara de Inhaua FC2', 
    18223508: 'Rolo Compressor ZN',
    44810918: 'lsauer fc',
    479510: 'TEAM LOPES 99',
    3851966: 'cartola scheuer',
    24468241: 'Gr√™mio imortal 37',
    44574236: 'Analove10 ITAQUI GRANDE!!',
    1273719: 'Texas Club 2025',
    13707047: 'Super Vasco f.c',
    212042: 'Tatols Beants F.C',
    18642587: 'Fedato Futebol Clube',
    3246608: 'Real SCI',
    14369: 'ITAQUI F. C.',
    6148913: 'E.C. Boror√©',
    528730: 'Gremiomaniasm',
    29228373: 'seralex',
    25311459: 'FC Los Castilho',
    49128587: 'TORRESMO COM PINGA',
    50158297: 'L√° do Itaqui',
    13951133: 'KING LEONN',
    49180400: 'TATITTA FC',
    36359: 'KillerColorado',
    159074: 'F.C. Rei Das Copas',
    18344271: 'Laranjja Mecannica',
    25751748: 'MauHumor F.C.',
    186283: 'FBC Colorado',
    18421230: 'Gig@ntte'
}

# Lista com todos os dados que voc√™ passou
dados_torneio = [
    # Grupo A
    ("Grupo A", 18661583, "Botafogo", "Gabriel"),
    ("Grupo A", 3914981, "Estudiantes", "Elvis"),
    ("Grupo A", 20696550, "Universidade Cat√≥lica do Chile", "Camilo"),    
    ("Grupo A", 117598, "Carabobo", "J√∫lio Cesar"),    
    # Grupo B
    ("Grupo B", 17887202, "River Plate", "Henrique"),
    ("Grupo B", 47543456, "Independiente del Valle", "Ivanildo"),
    ("Grupo B", 18223508, "Universit√°rio", "Lucas"),  # mesmo ID, √∫ltimo prevalece
    ("Grupo B", 44810918, "Barcelona", "Sauer"),
    # Grupo C
    ("Grupo C", 479510, "Flamengo", "Marllon"),
    ("Grupo C", 3851966, "LDU", "Paulo Augusto"),
    ("Grupo C", 24468241, "Deportivo T√°chira", "Rodrigo"),
    ("Grupo C", 44574236, "Central C√≥rdoba", "Ananias"),
    # Grupo D
    ("Grupo D", 1273719, "S√£o Paulo", "Fumaco"),
    ("Grupo D", 13707047, "Libertad", "Boka"),
    ("Grupo D", 212042, "Talleres", "Elemar"),
    ("Grupo D", 18642587, "Alianza Lima", "Fedato"),
    # Grupo E
    ("Grupo E", 3246608, "Racing", "Diego"),
    ("Grupo E", 14369, "Colo-Colo", "Cassiano"),
    ("Grupo E", 6148913, "Fortaleza", "Moodi"),
    ("Grupo E", 528730, "Bucaramanga", "M√°rcio"),
    # Grupo F
    ("Grupo F", 29228373, "Atl√©tico Nacional", "Alex"),
    ("Grupo F", 25311459, "Nacional", "Castilho"),
    ("Grupo F", 49128587, "Bahia", "Marquinho"),
    ("Grupo F", 50158297, "Internacional", "Ger√¥nimo"),
    # Grupo G
    ("Grupo G", 13951133, "Palmeiras", "Leon"),
    ("Grupo G", 49180400, "Bol√≠var", "Tatita"),
    ("Grupo G", 36359, "Sporting Cristal", "Ronaldo"),
    ("Grupo G", 159074, "Cerro Porte√±o", "Ricardo"),
    # Grupo H
    ("Grupo H", 18344271, "Pe√±arol", "Roberto"),
    ("Grupo H", 25751748, "Olimpia", "Andr√©"),
     ("Grupo H", 186283, "Velez Sarsfield", "Fernando"),
    ("Grupo H", 18421230, "San Ant√¥nio Bulo Bulo", "Adriano"),   
]

# Criar DataFrame base
df_torneio = pd.DataFrame(dados_torneio, columns=["Grupo", "ID do Time", "Clube Representado", "Participante"])

# Adicionar Nome do Time usando o dicion√°rio
df_torneio["Nome do Time"] = df_torneio["ID do Time"].map(nomes_por_id)

# Adicionar ID no Grupo
df_torneio["ID no Grupo"] = df_torneio.groupby("Grupo").cumcount() + 1
df_torneio["ID no Grupo"] = df_torneio["ID no Grupo"].astype(str) + "_" + df_torneio["Grupo"].str[-1]

# Reorganizar colunas
df_torneio = df_torneio[["Grupo", "ID do Time", "Nome do Time", "Clube Representado", "Participante", "ID no Grupo"]]

df_liberta_grupo_A = df_torneio[df_torneio["Grupo"] == "Grupo A"]
df_liberta_grupo_B = df_torneio[df_torneio["Grupo"] == "Grupo B"]
df_liberta_grupo_C = df_torneio[df_torneio["Grupo"] == "Grupo C"]
df_liberta_grupo_D = df_torneio[df_torneio["Grupo"] == "Grupo D"]
df_liberta_grupo_E = df_torneio[df_torneio["Grupo"] == "Grupo E"]
df_liberta_grupo_F = df_torneio[df_torneio["Grupo"] == "Grupo F"]
df_liberta_grupo_G = df_torneio[df_torneio["Grupo"] == "Grupo G"]
df_liberta_grupo_H = df_torneio[df_torneio["Grupo"] == "Grupo H"]


# Lista de grupos
grupos = {
    "Grupo A": df_liberta_grupo_A,
    "Grupo B": df_liberta_grupo_B,
    "Grupo C": df_liberta_grupo_C,
    "Grupo D": df_liberta_grupo_D,
    "Grupo E": df_liberta_grupo_E,
    "Grupo F": df_liberta_grupo_F,
    "Grupo G": df_liberta_grupo_G,
    "Grupo H": df_liberta_grupo_H,
}

# # Caminho do arquivo
# caminho_excel = "grupos_fase1_libertadores.xlsx"

# # Salvar em Excel com abas separadas
# with pd.ExcelWriter(caminho_excel) as writer:
#     for nome_grupo, df_grupo in grupos.items():
#         df_grupo.to_excel(writer, sheet_name=nome_grupo, index=False)


# Exibir resultado
# display(df_liberta_grupo_A)
# display(df_liberta_grupo_B)
# display(df_liberta_grupo_C)
# display(df_liberta_grupo_D)
# display(df_liberta_grupo_E)
display(df_liberta_grupo_F)
# display(df_liberta_grupo_G)
# display(df_liberta_grupo_H)

,Grupo,ID do Time,Nome do Time,Clube Representado,Participante,ID no Grupo
20,Grupo F,29228373,seralex,Atl√©tico Nacional,Alex,1_F
21,Grupo F,25311459,FC Los Castilho,Nacional,Castilho,2_F
22,Grupo F,49128587,TORRESMO COM PINGA,Bahia,Marquinho,3_F
23,Grupo F,50158297,L√° do Itaqui,Internacional,Ger√¥nimo,4_F

### Defini√ß√£o dos Confrontos das 6 Rodadas da Fase de Grupos da Libertadores

In [3]:
# Lista dos confrontos da 1¬™ rodada
confrontos_1a_rodada = [
    # Grupo A
    ("Grupo A", "4_A", "2_A"),
    ("Grupo A", "3_A", "1_A"),

    # Grupo B
    ("Grupo B", "4_B", "2_B"),
    ("Grupo B", "3_B", "1_B"),

    # Grupo C
    ("Grupo C", "4_C", "2_C"),
    ("Grupo C", "3_C", "1_C"),

    # Grupo D
    ("Grupo D", "4_D", "2_D"),
    ("Grupo D", "3_D", "1_D"),

    # Grupo E
    ("Grupo E", "4_E", "2_E"),
    ("Grupo E", "3_E", "1_E"),

    # Grupo F
    ("Grupo F", "3_F", "4_F"),
    ("Grupo F", "1_F", "2_F"),

    # Grupo G
    ("Grupo G", "4_G", "2_G"),
    ("Grupo G", "3_G", "1_G"),

    # Grupo H
    ("Grupo H", "4_H", "2_H"),
    ("Grupo H", "3_H", "1_H"),
]

# Transformar em DataFrame
df_confrontos = pd.DataFrame(confrontos_1a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])

# Junta com df_torneio para buscar dados dos mandantes
df_mandantes = df_torneio.rename(columns={
    "ID no Grupo": "Mandante_ID",
    "Nome do Time": "Mandante_Nome",
    "ID do Time": "Mandante_ID_Time",
    "Clube Representado": "Mandante_Clube",
    "Participante": "Mandante_Participante"
})[["Grupo", "Mandante_ID", "Mandante_Nome", "Mandante_ID_Time", "Mandante_Clube", "Mandante_Participante"]]

# Junta com df_torneio para buscar dados dos visitantes
df_visitantes = df_torneio.rename(columns={
    "ID no Grupo": "Visitante_ID",
    "Nome do Time": "Visitante_Nome",
    "ID do Time": "Visitante_ID_Time",
    "Clube Representado": "Visitante_Clube",
    "Participante": "Visitante_Participante"
})[["Grupo", "Visitante_ID", "Visitante_Nome", "Visitante_ID_Time", "Visitante_Clube", "Visitante_Participante"]]

In [4]:
# Lista dos confrontos da 2¬™ rodada
confrontos_2a_rodada = [
     # GRUPO A
    ("Grupo A", "1_A", "4_A"),
    ("Grupo A", "2_A", "3_A"),

    # GRUPO B
    ("Grupo B", "1_B", "4_B"),
    ("Grupo B", "2_B", "3_B"),

    # GRUPO C    
    ("Grupo C", "1_C", "4_C"),
    ("Grupo C", "2_C", "3_C"),

    # GRUPO D
    ("Grupo D", "1_D", "4_D"),
    ("Grupo D", "2_D", "3_D"),

    # GRUPO E
    ("Grupo E", "1_E", "4_E"),
    ("Grupo E", "2_E", "3_E"),

    # GRUPO F
    ("Grupo F", "4_F", "1_F"),
    ("Grupo F", "2_F", "3_F"),

    # GRUPO G    
    ("Grupo G", "1_G", "4_G"),
    ("Grupo G", "2_G", "3_G"),

    # GRUPO H
    ("Grupo H", "1_H", "4_H"),
    ("Grupo H", "2_H", "3_H"),
]

confrontos_3a_rodada = [
    # GRUPO A
    ("Grupo A", "4_A", "3_A"),
    ("Grupo A", "2_A", "1_A"),

    # GRUPO B
    ("Grupo B", "4_B", "3_B"),
    ("Grupo B", "2_B", "1_B"),

    # GRUPO C
    ("Grupo C", "4_C", "3_C"),
    ("Grupo C", "2_C", "1_C"),

    # GRUPO D
    ("Grupo D", "4_D", "3_D"),
    ("Grupo D", "2_D", "1_D"),

    # GRUPO E
    ("Grupo E", "4_E", "3_E"),
    ("Grupo E", "2_E", "1_E"),

    # GRUPO F
    ("Grupo F", "4_F", "2_F"),
    ("Grupo F", "3_F", "1_F"),

    # GRUPO G
    ("Grupo G", "4_G", "3_G"),
    ("Grupo G", "2_G", "1_G"),

    # GRUPO H
    ("Grupo H", "4_H", "3_H"),
    ("Grupo H", "2_H", "1_H"),
]

confrontos_4a_rodada = [
    # GRUPO A
    ("Grupo A", "4_A", "1_A"),
    ("Grupo A", "3_A", "2_A"),

    # GRUPO B
    ("Grupo B", "4_B", "1_B"),
    ("Grupo B", "3_B", "2_B"),

    # GRUPO C
    ("Grupo C", "4_C", "1_C"),
    ("Grupo C", "3_C", "2_C"),

    # GRUPO D
    ("Grupo D", "4_D", "1_D"),
    ("Grupo D", "3_D", "2_D"),

    # GRUPO E
    ("Grupo E", "4_E", "1_E"),
    ("Grupo E", "3_E", "2_E"),

    # GRUPO F
    ("Grupo F", "1_F", "4_F"),
    ("Grupo F", "3_F", "2_F"),

    # GRUPO G
    ("Grupo G", "4_G", "1_G"),
    ("Grupo G", "3_G", "2_G"),

    # GRUPO H
    ("Grupo H", "4_H", "1_H"),
    ("Grupo H", "3_H", "2_H"),
]


confrontos_5a_rodada = [
    # GRUPO A
    ("Grupo A", "3_A", "4_A"),
    ("Grupo A", "1_A", "2_A"),

    # GRUPO B
    ("Grupo B", "3_B", "4_B"),
    ("Grupo B", "1_B", "2_B"),

    # GRUPO C
    ("Grupo C", "3_C", "4_C"),
    ("Grupo C", "1_C", "2_C"),

    # GRUPO D
    ("Grupo D", "3_D", "4_D"),
    ("Grupo D", "1_D", "2_D"),

    # GRUPO E
    ("Grupo E", "3_E", "4_E"),
    ("Grupo E", "1_E", "2_E"),

    # GRUPO F
    ("Grupo F", "2_F", "4_F"),
    ("Grupo F", "1_F", "3_F"),

    # GRUPO G
    ("Grupo G", "3_G", "4_G"),
    ("Grupo G", "1_G", "2_G"),

    # GRUPO H
    ("Grupo H", "3_H", "4_H"),
    ("Grupo H", "1_H", "2_H"),
]


confrontos_6a_rodada = [
    # GRUPO A
    ("Grupo A", "1_A", "3_A"),
    ("Grupo A", "2_A", "4_A"),

    # GRUPO B
    ("Grupo B", "1_B", "3_B"),
    ("Grupo B", "2_B", "4_B"),

    # GRUPO C
    ("Grupo C", "1_C", "3_C"),
    ("Grupo C", "2_C", "4_C"),

    # GRUPO D
    ("Grupo D", "1_D", "3_D"),
    ("Grupo D", "2_D", "4_D"),

    # GRUPO E
    ("Grupo E", "1_E", "3_E"),
    ("Grupo E", "2_E", "4_E"),

    # GRUPO F
    ("Grupo F", "2_F", "1_F"),
    ("Grupo F", "4_F", "3_F"),

    # GRUPO G
    ("Grupo G", "1_G", "3_G"),
    ("Grupo G", "2_G", "4_G"),

    # GRUPO H
    ("Grupo H", "1_H", "3_H"),
    ("Grupo H", "2_H", "4_H"),
]

### Gera√ß√£o das Tabelas de Jogos das 6 Rodadas da Fase de Grupos

In [5]:
# Transformar em DataFrame
df_confrontos = pd.DataFrame(confrontos_1a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])
df_confrontos["Rodada"] = 1  # <<< ADICIONAR ESTA LINHA
df_rodada_1 = df_confrontos.merge(df_mandantes, on=["Grupo", "Mandante_ID"])
df_rodada_1 = df_rodada_1.merge(df_visitantes, on=["Grupo", "Visitante_ID"])


# Transformar em DataFrame
df_confrontos_2 = pd.DataFrame(confrontos_2a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])
df_confrontos_2["Rodada"] = 2
df_rodada_2 = df_confrontos_2.merge(df_mandantes, on=["Grupo", "Mandante_ID"])
df_rodada_2 = df_rodada_2.merge(df_visitantes, on=["Grupo", "Visitante_ID"])

# Transformar em DataFrame
df_confrontos_3 = pd.DataFrame(confrontos_3a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])
df_confrontos_3["Rodada"] = 3
df_rodada_3 = df_confrontos_3.merge(df_mandantes, on=["Grupo", "Mandante_ID"])
df_rodada_3 = df_rodada_3.merge(df_visitantes, on=["Grupo", "Visitante_ID"])

# Criar DataFrame da 4¬™ rodada
df_confrontos_4 = pd.DataFrame(confrontos_4a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])
df_confrontos_4["Rodada"] = 4
df_rodada_4 = df_confrontos_4.merge(df_mandantes, on=["Grupo", "Mandante_ID"])
df_rodada_4 = df_rodada_4.merge(df_visitantes, on=["Grupo", "Visitante_ID"])

# Quinta rodada
df_confrontos_5 = pd.DataFrame(confrontos_5a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])
df_confrontos_5["Rodada"] = 5
df_rodada_5 = df_confrontos_5.merge(df_mandantes, on=["Grupo", "Mandante_ID"])
df_rodada_5 = df_rodada_5.merge(df_visitantes, on=["Grupo", "Visitante_ID"])

# Sexta rodada
df_confrontos_6 = pd.DataFrame(confrontos_6a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])
df_confrontos_6["Rodada"] = 6
df_rodada_6 = df_confrontos_6.merge(df_mandantes, on=["Grupo", "Mandante_ID"])
df_rodada_6 = df_rodada_6.merge(df_visitantes, on=["Grupo", "Visitante_ID"])

### Rodadas da Fase 1 da Libertadores

### Consolida√ß√£o dos Confrontos da Fase 1 e Exporta√ß√£o para Excel

In [6]:
df_rodadas = pd.concat([
    df_rodada_1,
    df_rodada_2,
    df_rodada_3,
    df_rodada_4,
    df_rodada_5,
    df_rodada_6
], ignore_index=True)

df_rodadas.to_excel("confrontos_fase_1_libertadores.xlsx", index=False)

# Exibir os confrontos da fase 1
display(df_rodadas.head())

,Grupo,Mandante_ID,Visitante_ID,Rodada,Mandante_Nome,Mandante_ID_Time,Mandante_Clube,Mandante_Participante,Visitante_Nome,Visitante_ID_Time,Visitante_Clube,Visitante_Participante
0,Grupo A,4_A,2_A,1,A Lenda Super Vasco F.c,117598,Carabobo,J√∫lio Cesar,BORGES ITAQUI F.C.,3914981,Estudiantes,Elvis
1,Grupo A,3_A,1_A,1,Dom Camillo68,20696550,Universidade Cat√≥lica do Chile,Camilo,pura bucha /botafogo,18661583,Botafogo,Gabriel
2,Grupo B,4_B,2_B,1,lsauer fc,44810918,Barcelona,Sauer,Tabajara de Inhaua FC2,47543456,Independiente del Valle,Ivanildo
3,Grupo B,3_B,1_B,1,Rolo Compressor ZN,18223508,Universit√°rio,Lucas,HS SPORTS F.C,17887202,River Plate,Henrique
4,Grupo C,4_C,2_C,1,Analove10 ITAQUI GRANDE!!,44574236,Central C√≥rdoba,Ananias,cartola scheuer,3851966,LDU,Paulo Augusto

### Convers√£o dos Confrontos em JSON e Exporta√ß√£o para Uso no Front-End

In [7]:
# Criar lista de dicion√°rios no formato desejado
confrontos_js = []

for _, row in df_rodadas.iterrows():
    confronto = {
        "grupo": row["Grupo"],
        "rodada": int(row["Rodada"]),
        "mandante": {
            "id": int(row["Mandante_ID_Time"]),
            "nome": row["Mandante_Nome"],
            "clube": row["Mandante_Clube"],
            "participante": row["Mandante_Participante"]
        },
        "visitante": {
            "id": int(row["Visitante_ID_Time"]),
            "nome": row["Visitante_Nome"],
            "clube": row["Visitante_Clube"],
            "participante": row["Visitante_Participante"]
        }
    }
    confrontos_js.append(confronto)

# Converter para JSON formatado
json_str = json.dumps(confrontos_js, indent=2, ensure_ascii=False)

# Salvar como arquivo JS com uma vari√°vel global
with open("confrontos_fase1_libertadores.js", "w", encoding="utf-8") as f:
    f.write("const confrontosFase1 = ")
    f.write(json_str)
    f.write(";")

In [8]:
def exibir_confrontos(df_rodadas, rodada=None, grupo=None):
    """
    Filtra e exibe os confrontos por rodada e/ou grupo.
    
    Par√¢metros:
    - df_rodadas: DataFrame com todos os confrontos
    - rodada: n√∫mero da rodada (int ou None para todas)
    - grupo: nome do grupo (str ou None para todos)
    
    Retorna:
    - DataFrame filtrado com as colunas relevantes
    """
    colunas = ["Rodada", "Grupo", "Mandante_Clube", "Visitante_Clube", "Mandante_Nome", "Visitante_Nome", "Mandante_Participante", "Visitante_Participante"]
    df_filtrado = df_rodadas.copy()

    df_filtrado["Rodada"] = df_filtrado["Rodada"].astype(str) + "¬™ Rodada"    

    if rodada is not None:
        df_filtrado = df_filtrado[df_filtrado["Rodada"] == rodada]

    if grupo is not None:
        df_filtrado = df_filtrado[df_filtrado["Grupo"] == grupo]

    return df_filtrado[colunas].sort_values(by=["Grupo", "Rodada"])

In [9]:
# # Exibir todos os confrontos da rodada 1
# display(exibir_confrontos(df_rodadas, rodada=1))

# Exibir todos os confrontos do Grupo C
display(exibir_confrontos(df_rodadas, grupo="Grupo H").head())

# # Exibir confrontos do Grupo A na rodada 2
# display(exibir_confrontos(df_rodadas, rodada=1, grupo="Grupo A"))

,Rodada,Grupo,Mandante_Clube,Visitante_Clube,Mandante_Nome,Visitante_Nome,Mandante_Participante,Visitante_Participante
14,1¬™ Rodada,Grupo H,San Ant√¥nio Bulo Bulo,Olimpia,Gig@ntte,MauHumor F.C.,Adriano,Andr√©
15,1¬™ Rodada,Grupo H,Velez Sarsfield,Pe√±arol,FBC Colorado,Laranjja Mecannica,Fernando,Roberto
30,2¬™ Rodada,Grupo H,Pe√±arol,San Ant√¥nio Bulo Bulo,Laranjja Mecannica,Gig@ntte,Roberto,Adriano
31,2¬™ Rodada,Grupo H,Olimpia,Velez Sarsfield,MauHumor F.C.,FBC Colorado,Andr√©,Fernando
46,3¬™ Rodada,Grupo H,San Ant√¥nio Bulo Bulo,Velez Sarsfield,Gig@ntte,FBC Colorado,Adriano,Fernando

### Coleta e Estrutura√ß√£o das Pontua√ß√µes por Rodada dos Times do Campeonato

In [10]:
def campeonato_comecou(api, ids_times):
    """Verifica se o campeonato j√° come√ßou observando a pontua√ß√£o na 1¬™ rodada."""
    for time_id in ids_times.values():
        try:
            pontuacao = api.time(time_id=time_id, rodada=1).ultima_pontuacao
            if pontuacao is not None:
                return True
        except cartolafc.errors.CartolaFCError:
            continue
    return False

def obter_pontuacao_por_rodada(api, time_id, rodada_atual):
    """Obt√©m a pontua√ß√£o do time em cada rodada at√© a rodada atual."""
    pontuacoes = {}
    for rodada in range(1, rodada_atual):
        try:
            time_rodada = api.time(time_id=time_id, rodada=rodada)
            pontuacoes[rodada] = time_rodada.ultima_pontuacao
        except cartolafc.errors.CartolaFCError as e:
            print(f"Erro ao acessar pontua√ß√£o da rodada {rodada} para o time {time_id}: {e}")
            pontuacoes[rodada] = None
    return pontuacoes

def gerar_df_pontuacoes(api, ids_times):
    rodada_atual = api.mercado().rodada_atual
    total_rodadas = 38

    if not campeonato_comecou(api, ids_times):
        print("üìå O campeonato ainda n√£o come√ßou. Criando estrutura com placeholders.")
        df = pd.DataFrame(index=ids_times.keys(), columns=[f'Rodada {i}' for i in range(1, total_rodadas + 1)])
        df[:] = 0
    else:
        df = pd.DataFrame()
        for nome, time_id in ids_times.items():
            pontuacoes = obter_pontuacao_por_rodada(api, time_id, rodada_atual)
            df[nome] = pd.Series(pontuacoes)
        df = df.transpose()
        df.columns = [f'Rodada {i}' for i in range(1, rodada_atual)]
        df.loc['Lider_Rodada'] = df.idxmax()
    
    return df

In [11]:
ids_times = {v: k for k, v in nomes_por_id.items()}

df_pontuacoes = gerar_df_pontuacoes(api, ids_times)
display(df_pontuacoes.T)

,pura bucha /botafogo,BORGES ITAQUI F.C.,Dom Camillo68,A Lenda Super Vasco F.c,HS SPORTS F.C,Tabajara de Inhaua FC2,Rolo Compressor ZN,lsauer fc,TEAM LOPES 99,cartola scheuer,Gr√™mio imortal 37,Analove10 ITAQUI GRANDE!!,Texas Club 2025,Super Vasco f.c,Tatols Beants F.C,Fedato Futebol Clube,Real SCI,ITAQUI F. C.,E.C. Boror√©,Gremiomaniasm,seralex,FC Los Castilho,TORRESMO COM PINGA,L√° do Itaqui,KING LEONN,TATITTA FC,KillerColorado,F.C. Rei Das Copas,Laranjja Mecannica,MauHumor F.C.,FBC Colorado,Gig@ntte,Lider_Rodada
Rodada 1,73.78,71.09,63.65,59.00,64.79,69.45,81.95,72.38,74.09,73.09,61.55,72.59,67.69,60.55,66.60,77.58,104.09,65.84,67.99,95.23,68.40,64.75,74.69,82.68,79.30,65.40,56.14,82.49,78.80,66.20,64.00,100.34,Real SCI
Rodada 2,73.84,71.39,67.69,88.29,94.48,87.99,74.49,79.29,73.19,86.39,99.39,76.19,85.99,96.99,73.32,77.49,75.69,71.49,86.39,59.22,72.89,95.59,86.49,82.02,93.04,59.68,103.22,82.84,96.79,102.89,72.69,86.39,KillerColorado
Rodada 3,77.12,56.40,71.20,63.70,65.12,72.95,56.00,82.17,68.42,75.10,82.42,67.40,76.92,71.40,99.55,75.42,87.02,74.02,76.92,95.55,38.22,64.47,70.10,91.77,84.70,61.70,63.90,71.62,80.10,74.30,81.52,86.80,Tatols Beants F.C
Rodada 4,88.32,99.68,136.21,86.72,108.16,94.56,76.03,104.93,109.06,77.36,122.26,119.31,79.86,90.63,94.87,90.16,99.66,76.72,63.82,85.67,77.06,78.18,98.48,81.58,84.48,90.15,99.16,74.57,63.93,119.11,78.62,79.58,Dom Camillo68
Rodada 5,76.42,67.62,103.57,81.72,83.48,91.02,53.52,66.22,87.27,80.92,63.40,86.62,71.32,85.32,83.03,81.02,82.42,54.52,80.38,86.03,69.92,87.23,86.22,86.77,72.61,58.43,69.15,67.23,74.52,69.93,69.38,73.01,Dom Camillo68

### C√°lculo da Classifica√ß√£o por Grupo com Base nas Pontua√ß√µes do Cartola

In [12]:
def classificacao_por_grupo(df_rodadas, df_pontuacoes):
    """
    Classifica√ß√£o dos grupos com base nos confrontos e nas pontua√ß√µes do Cartola.

    Retorna:
    - df_resultado: classifica√ß√£o geral
    - df_resultado_por_grupo: dicion√°rio com classifica√ß√£o separada por grupo
    """
    df_pontuacoes_times = df_pontuacoes.drop(index='Lider_Rodada', errors='ignore')
    estatisticas = {}

    for _, confronto in df_rodadas.iterrows():
        rodada = confronto["Rodada"]
        mandante = confronto["Mandante_Nome"]
        visitante = confronto["Visitante_Nome"]
        grupo = confronto["Grupo"]
        coluna_rodada = f"Rodada {rodada}"

        if mandante not in df_pontuacoes_times.index or visitante not in df_pontuacoes_times.index:
            continue
        if coluna_rodada not in df_pontuacoes_times.columns:
            continue

        pontos_mandante = df_pontuacoes_times.at[mandante, coluna_rodada]
        pontos_visitante = df_pontuacoes_times.at[visitante, coluna_rodada]

        if pd.isnull(pontos_mandante) or pd.isnull(pontos_visitante):
            continue

        for time in [mandante, visitante]:
            if grupo not in estatisticas:
                estatisticas[grupo] = {}
            if time not in estatisticas[grupo]:
                estatisticas[grupo][time] = {
                    "Pontos": 0, "Vit√≥rias": 0, "Empates": 0, "Derrotas": 0,
                    "Total_Cartola": 0, "Cartola_Sofrido": 0
                }

        # Atualizar estat√≠sticas do jogo
        estatisticas[grupo][mandante]["Total_Cartola"] += pontos_mandante
        estatisticas[grupo][mandante]["Cartola_Sofrido"] += pontos_visitante

        estatisticas[grupo][visitante]["Total_Cartola"] += pontos_visitante
        estatisticas[grupo][visitante]["Cartola_Sofrido"] += pontos_mandante

        if pontos_mandante > pontos_visitante:
            estatisticas[grupo][mandante]["Pontos"] += 3
            estatisticas[grupo][mandante]["Vit√≥rias"] += 1
            estatisticas[grupo][visitante]["Derrotas"] += 1
        elif pontos_mandante < pontos_visitante:
            estatisticas[grupo][visitante]["Pontos"] += 3
            estatisticas[grupo][visitante]["Vit√≥rias"] += 1
            estatisticas[grupo][mandante]["Derrotas"] += 1
        else:
            estatisticas[grupo][mandante]["Pontos"] += 1
            estatisticas[grupo][visitante]["Pontos"] += 1
            estatisticas[grupo][mandante]["Empates"] += 1
            estatisticas[grupo][visitante]["Empates"] += 1

    # Montar DataFrame final
    df_resultado = pd.concat([
        pd.DataFrame({
            "Grupo": grupo,
            "Nome do Time": list(times.keys()),
            "Pontos": [stats["Pontos"] for stats in times.values()],
            "Vit√≥rias": [stats["Vit√≥rias"] for stats in times.values()],
            "Empates": [stats["Empates"] for stats in times.values()],
            "Derrotas": [stats["Derrotas"] for stats in times.values()],
            "Total Cartola": [stats["Total_Cartola"] for stats in times.values()],
            "Cartola Sofrido": [stats["Cartola_Sofrido"] for stats in times.values()],
            "Saldo Cartola": [
            stats["Total_Cartola"] - stats["Cartola_Sofrido"] for stats in times.values()
            ]
        })
        for grupo, times in estatisticas.items()
    ], ignore_index=True)

    df_resultado = df_resultado.sort_values(
        by=["Grupo", "Pontos", "Vit√≥rias", "Total Cartola", "Saldo Cartola"],
        ascending=[True, False, False, False, False]
    )

    df_resultado["Posi√ß√£o"] = df_resultado.groupby("Grupo")\
    .cumcount() + 1

    df_resultado_por_grupo = {
        grupo: df_resultado[df_resultado["Grupo"] == grupo] for grupo in df_resultado["Grupo"].unique()
    }

    return df_resultado, df_resultado_por_grupo

### Gera√ß√£o e Exporta√ß√£o da Classifica√ß√£o Final da Fase de Grupos

In [13]:
# Gerar a classifica√ß√£o da fase 1
df_resultado, df_resultado_por_grupo = classificacao_por_grupo(df_rodadas, df_pontuacoes)

# Salvar cada grupo em uma aba do Excel
with pd.ExcelWriter("classificacao_por_grupo_fase_1.xlsx") as writer:
    for grupo, df in df_resultado_por_grupo.items():
        df.to_excel(writer, sheet_name=grupo, index=False)

# Exibir a classifica√ß√£o geral
df_resultado_grupo_A = df_resultado[df_resultado["Grupo"] == "Grupo A"]
df_resultado_grupo_B = df_resultado[df_resultado["Grupo"] == "Grupo B"]
df_resultado_grupo_C = df_resultado[df_resultado["Grupo"] == "Grupo C"]
df_resultado_grupo_D = df_resultado[df_resultado["Grupo"] == "Grupo D"]
df_resultado_grupo_E = df_resultado[df_resultado["Grupo"] == "Grupo E"]
df_resultado_grupo_F = df_resultado[df_resultado["Grupo"] == "Grupo F"]
df_resultado_grupo_G = df_resultado[df_resultado["Grupo"] == "Grupo G"]
df_resultado_grupo_H = df_resultado[df_resultado["Grupo"] == "Grupo H"]

display(df_resultado_grupo_A, df_resultado_grupo_B, df_resultado_grupo_C, df_resultado_grupo_D, df_resultado_grupo_E, df_resultado_grupo_F, df_resultado_grupo_G, df_resultado_grupo_H)

,Grupo,Nome do Time,Pontos,Vit√≥rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Posi√ß√£o
3,Grupo A,pura bucha /botafogo,12,4,0,1,389.48,362.68,26.80,1
2,Grupo A,Dom Camillo68,9,3,0,2,442.32,390.27,52.05,2
1,Grupo A,BORGES ITAQUI F.C.,6,2,0,3,366.18,416.44,-50.26,3
0,Grupo A,A Lenda Super Vasco F.c,3,1,0,4,379.43,408.02,-28.59,4

,Grupo,Nome do Time,Pontos,Vit√≥rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Posi√ß√£o
5,Grupo B,Tabajara de Inhaua FC2,12,4,0,1,415.97,371.50,44.47,1
4,Grupo B,lsauer fc,9,3,0,2,404.99,381.61,23.38,2
7,Grupo B,HS SPORTS F.C,6,2,0,3,416.03,430.14,-14.11,3
6,Grupo B,Rolo Compressor ZN,3,1,0,4,341.99,395.73,-53.74,4

,Grupo,Nome do Time,Pontos,Vit√≥rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Posi√ß√£o
10,Grupo C,Gr√™mio imortal 37,9,3,0,2,429.02,391.86,37.16,1
8,Grupo C,Analove10 ITAQUI GRANDE!!,9,3,0,2,422.11,401.16,20.95,2
11,Grupo C,TEAM LOPES 99,6,2,0,3,412.03,413.07,-1.04,3
9,Grupo C,cartola scheuer,6,2,0,3,392.86,449.93,-57.07,4

,Grupo,Nome do Time,Pontos,Vit√≥rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Posi√ß√£o
14,Grupo D,Tatols Beants F.C,9,3,0,2,417.37,411.75,5.62,1
15,Grupo D,Texas Club 2025,9,3,0,2,381.78,390.97,-9.19,2
13,Grupo D,Super Vasco f.c,6,2,0,3,404.89,394.01,10.88,3
12,Grupo D,Fedato Futebol Clube,6,2,0,3,401.67,408.98,-7.31,4

,Grupo,Nome do Time,Pontos,Vit√≥rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Posi√ß√£o
19,Grupo E,Real SCI,15,5,0,0,448.88,341.42,107.46,1
16,Grupo E,Gremiomaniasm,9,3,0,2,421.70,398.49,23.21,2
18,Grupo E,E.C. Boror√©,3,1,0,4,375.50,433.88,-58.38,3
17,Grupo E,ITAQUI F. C.,3,1,0,4,342.59,414.88,-72.29,4

,Grupo,Nome do Time,Pontos,Vit√≥rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Posi√ß√£o
21,Grupo F,L√° do Itaqui,12,4,0,1,424.82,376.34,48.48,1
20,Grupo F,TORRESMO COM PINGA,9,3,0,2,415.98,364.59,51.39,2
23,Grupo F,FC Los Castilho,6,2,0,3,390.22,431.91,-41.69,3
22,Grupo F,seralex,3,1,0,4,326.49,384.67,-58.18,4

,Grupo,Nome do Time,Pontos,Vit√≥rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Posi√ß√£o
27,Grupo G,KING LEONN,15,5,0,0,414.13,333.68,80.45,1
26,Grupo G,KillerColorado,9,3,0,2,391.57,367.98,23.59,2
24,Grupo G,F.C. Rei Das Copas,6,2,0,3,378.75,375.97,2.78,3
25,Grupo G,TATITTA FC,0,0,0,5,335.36,442.18,-106.82,4

,Grupo,Nome do Time,Pontos,Vit√≥rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Posi√ß√£o
28,Grupo H,Gig@ntte,12,4,0,1,426.12,377.82,48.30,1
31,Grupo H,Laranjja Mecannica,12,4,0,1,394.14,374.20,19.94,2
29,Grupo H,MauHumor F.C.,6,2,0,3,432.43,406.27,26.16,3
30,Grupo H,FBC Colorado,0,0,0,5,366.21,460.61,-94.40,4

### Gera√ß√£o do Arquivo classificacao_fase_1.js com as Classifica√ß√µes por Grupo

In [14]:
# Criar estrutura em formato de dicion√°rio para JSON/JS
classificacao_js = {}

for grupo, df in df_resultado_por_grupo.items():
    classificacao_js[grupo] = []
    for _, row in df.iterrows():
        classificacao_js[grupo].append({
            "posicao": int(row["Posi√ß√£o"]),
            "nome": row["Nome do Time"],
            "pontos": int(row["Pontos"]),
            "vitorias": int(row["Vit√≥rias"]),
            "empates": int(row["Empates"]),
            "derrotas": int(row["Derrotas"]),
            "totalCartola": float(row["Total Cartola"]),
            "cartolaSofrido": float(row["Cartola Sofrido"]),
            "saldoCartola": float(row["Saldo Cartola"])
        })

# Converter para JSON formatado
json_str = json.dumps(classificacao_js, indent=2, ensure_ascii=False)

# Salvar como arquivo JS com uma vari√°vel global
with open("classificacao_por_grupo_fase_1.js", "w", encoding="utf-8") as f:
    f.write("const classificacaoFase1 = ")
    f.write(json_str)
    f.write(";")

In [15]:
# def exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada, grupo=None):
#     """
#     Exibe os resultados de uma rodada espec√≠fica, com pontua√ß√£o de cada time.

#     Par√¢metros:
#     - df_rodadas: DataFrame com os confrontos
#     - df_pontuacoes: DataFrame com as pontua√ß√µes dos times
#     - rodada: n√∫mero da rodada a ser exibida (int)
#     - grupo: se quiser filtrar por grupo espec√≠fico (ex: "Grupo A")

#     Retorna:
#     - DataFrame com os resultados da rodada ou mensagem de rodada n√£o dispon√≠vel
#     """

#     # Verifica se a rodada existe no DataFrame de rodadas
#     if rodada not in df_rodadas["Rodada"].values:
#         return pd.DataFrame([{
#             "Grupo": grupo or "-",
#             "Rodada": rodada,
#             "Mandante": "-",
#             "Pontos Mandante": "-",
#             "Visitante": "-",
#             "Pontos Visitante": "-",
#             "Resultado": "Rodada ainda n√£o realizada"
#         }])

#     df_filtrado = df_rodadas[df_rodadas["Rodada"] == rodada]

#     if grupo:
#         df_filtrado = df_filtrado[df_filtrado["Grupo"] == grupo]

#     resultados = []

#     for _, row in df_filtrado.iterrows():
#         mandante = row["Mandante_Nome"]
#         visitante = row["Visitante_Nome"]
#         grupo_ = row["Grupo"]

#         # Tenta acessar os pontos; se a coluna n√£o existir ou o time n√£o estiver no √≠ndice, assume None
#         pontos_mandante = df_pontuacoes.get(f"Rodada {rodada}", {}).get(mandante, None)
#         pontos_visitante = df_pontuacoes.get(f"Rodada {rodada}", {}).get(visitante, None)

#         if pontos_mandante is None or pontos_visitante is None:
#             resultado = "N√£o disputado"
#         elif pd.isnull(pontos_mandante) or pd.isnull(pontos_visitante):
#             resultado = "N√£o disputado"
#         elif pontos_mandante > pontos_visitante:
#             resultado = f"{mandante} venceu"
#         elif pontos_mandante < pontos_visitante:
#             resultado = f"{visitante} venceu"
#         else:
#             resultado = "Empate"

#         resultados.append({
#             "Grupo": grupo_,
#             "Rodada": rodada,
#             "Mandante": mandante,
#             "Pontos Mandante": pontos_mandante,
#             "Visitante": visitante,
#             "Pontos Visitante": pontos_visitante,
#             "Resultado": resultado
#         })

#     return pd.DataFrame(resultados)

def exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada, grupo=None):
    """
    Exibe os resultados de uma rodada espec√≠fica, com pontua√ß√£o e dados dos times.
    """

    if rodada not in df_rodadas["Rodada"].values:
        return pd.DataFrame([{
            "Grupo": grupo or "-",
            "Rodada": rodada,
            "Mandante_Nome": "-",
            "Mandante_Clube": "-",
            "Mandante_Participante": "-",
            "Mandante_Pontos": "-",
            "Visitante_Nome": "-",
            "Visitante_Clube": "-",
            "Visitante_Participante": "-",
            "Visitante_Pontos": "-",
        }])

    df_filtrado = df_rodadas[df_rodadas["Rodada"] == rodada]
    if grupo:
        df_filtrado = df_filtrado[df_filtrado["Grupo"] == grupo]

    resultados = []

    for _, row in df_filtrado.iterrows():
        grupo_ = row["Grupo"]
        mandante = row["Mandante_Nome"]
        visitante = row["Visitante_Nome"]
        mandante_clube = row["Mandante_Clube"]
        visitante_clube = row["Visitante_Clube"]
        mandante_participante = row["Mandante_Participante"]
        visitante_participante = row["Visitante_Participante"]

        pontos_mandante = df_pontuacoes.get(f"Rodada {rodada}", {}).get(mandante, None)
        pontos_visitante = df_pontuacoes.get(f"Rodada {rodada}", {}).get(visitante, None)

        resultados.append({
            "Grupo": grupo_,
            "Rodada": rodada,
            "Mandante_Nome": mandante,
            "Mandante_Clube": mandante_clube,
            "Mandante_Participante": mandante_participante,
            "Mandante_Pontos": pontos_mandante,
            "Visitante_Nome": visitante,
            "Visitante_Clube": visitante_clube,
            "Visitante_Participante": visitante_participante,
            "Visitante_Pontos": pontos_visitante
        })

    return pd.DataFrame(resultados)

In [16]:
# Exibir resultados da 2¬™ rodada
df_resultados_rodada_1 = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=1)

# Exibir apenas os resultados do Grupo B na 1¬™ rodada
df_resultados_grupo_B = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=1, grupo="Grupo H")

# Exibir
# display(df_resultados_rodada2)
display(df_resultados_rodada_1)

,Grupo,Rodada,Mandante_Nome,Mandante_Clube,Mandante_Participante,Mandante_Pontos,Visitante_Nome,Visitante_Clube,Visitante_Participante,Visitante_Pontos
0,Grupo A,1,A Lenda Super Vasco F.c,Carabobo,J√∫lio Cesar,59.00,BORGES ITAQUI F.C.,Estudiantes,Elvis,71.09
1,Grupo A,1,Dom Camillo68,Universidade Cat√≥lica do Chile,Camilo,63.65,pura bucha /botafogo,Botafogo,Gabriel,73.78
2,Grupo B,1,lsauer fc,Barcelona,Sauer,72.38,Tabajara de Inhaua FC2,Independiente del Valle,Ivanildo,69.45
3,Grupo B,1,Rolo Compressor ZN,Universit√°rio,Lucas,81.95,HS SPORTS F.C,River Plate,Henrique,64.79
4,Grupo C,1,Analove10 ITAQUI GRANDE!!,Central C√≥rdoba,Ananias,72.59,cartola scheuer,LDU,Paulo Augusto,73.09
5,Grupo C,1,Gr√™mio imortal 37,Deportivo T√°chira,Rodrigo,61.55,TEAM LOPES 99,Flamengo,Marllon,74.09
6,Grupo D,1,Fedato Futebol Clube,Alianza Lima,Fedato,77.58,Super Vasco f.c,Libertad,Boka,60.55
7,Grupo D,1,Tatols Beants F.C,Talleres,Elemar,66.60,Texas Club 2025,S√£o Paulo,Fumaco,67.69
8,Grupo E,1,Gremiomaniasm,Bucaramanga,M√°rcio,95.23,ITAQUI F. C.,Colo-Colo,Cassiano,65.84
9,Grupo E,1,E.C. Boror√©,Fortaleza,Moodi,67.99,Real SCI,Racing,Diego,104.09
10,Grupo F,1,TORRESMO COM PINGA,Bahia,Marquinho,74.69,L√° do Itaqui,Internacional,Ger√¥nimo,82.68
11,Grupo F,1,seralex,Atl√©tico Nacional,Alex,68.40,FC Los Castilho,Nacional,Castilho,64.75
12,Grupo G,1,F.C. Rei Das Copas,Cerro Porte√±o,Ricardo,82.49,TATITTA FC,Bol√≠var,Tatita,65.40
13,Grupo G,1,KillerColorado,Sporting Cristal,Ronaldo,56.14,KING LEONN,Palmeiras,Leon,79.30
14,Grupo H,1,Gig@ntte,San Ant√¥nio Bulo Bulo,Adriano,100.34,MauHumor F.C.,Olimpia,Andr√©,66.20
15,Grupo H,1,FBC Colorado,Velez Sarsfield,Fernando,64.00,Laranjja Mecannica,Pe√±arol,Roberto,78.80

In [17]:
# Criar arquivo com uma aba para cada rodada contendo os resultados detalhados
from pathlib import Path

# Caminho do arquivo de sa√≠da
caminho_resultados = "resultados_fase_1.xlsx"

# Descobrir as rodadas √∫nicas no DataFrame
rodadas_disponiveis = sorted(df_rodadas["Rodada"].unique())

with pd.ExcelWriter(caminho_resultados) as writer:
    for rodada in rodadas_disponiveis:
        df_resultados = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=rodada)
        nome_aba = f"Rodada {rodada}"
        df_resultados.to_excel(writer, sheet_name=nome_aba, index=False)

print(f"Arquivo salvo com sucesso: {Path(caminho_resultados).resolve()}")

Arquivo salvo com sucesso: C:\Users\ferna\Projetos\GitHub\cartola_fbc\libertadores\datasets_liberta\resultados_fase_1.xlsx

In [18]:
resultados_js = []

for rodada in sorted(df_rodadas["Rodada"].unique()):
    df_resultados = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=rodada)
    
    for _, row in df_resultados.iterrows():
        resultado = {
            "grupo": row["Grupo"],
            "rodada": int(rodada),
            "mandante": {
                "nome": row["Mandante_Nome"],
                "participante": row["Mandante_Participante"],
                "clube": row["Mandante_Clube"],
                "pontos": float(row["Mandante_Pontos"]) if row["Mandante_Pontos"] is not None else None
            },
            "visitante": {
                "nome": row["Visitante_Nome"],
                "participante": row["Visitante_Participante"],
                "clube": row["Visitante_Clube"],
                "pontos": float(row["Visitante_Pontos"]) if row["Visitante_Pontos"] is not None else None
            },
            "vencedor": (
                "mandante" if row["Mandante_Pontos"] is not None and row["Visitante_Pontos"] is not None and row["Mandante_Pontos"] > row["Visitante_Pontos"]
                else "visitante" if row["Mandante_Pontos"] is not None and row["Visitante_Pontos"] is not None and row["Mandante_Pontos"] < row["Visitante_Pontos"]
                else "empate" if row["Mandante_Pontos"] == row["Visitante_Pontos"] and row["Mandante_Pontos"] is not None
                else "indefinido"
            )

        }
        resultados_js.append(resultado)

# Exportar para arquivo .js
import json

with open("resultados_fase_1.js", "w", encoding="utf-8") as f:
    f.write("const resultadosFase1 = ")
    f.write(json.dumps(resultados_js, indent=2, ensure_ascii=False))
    f.write(";")

##############################################################################################

### FASE 2 da Libertadores

In [19]:
def gerar_classificados_fase2(df_resultado):
    """
    Gera os grupos da Fase 2 da Libertadores com base na classifica√ß√£o da Fase 1.

    Par√¢metros:
    - df_resultado: DataFrame com a classifica√ß√£o da Fase 1 (colunas: Nome do Time, Grupo, Pontos, etc.)

    Retorna:
    - df_fase2: DataFrame com os grupos I, J, K, L e os classificados
    - classificados_dict: dicion√°rio com os classificados por chave (ex: 1_A, 2_B, ...)
    """

    # Ordenar os times dentro de cada grupo pela pontua√ß√£o
    df_ordenado = df_resultado.copy()
    df_ordenado["Ordem"] = df_ordenado.groupby("Grupo")["Pontos"].rank(method="first", ascending=False)
    df_ordenado = df_ordenado.sort_values(by=["Grupo", "Ordem"])

    # Selecionar os dois primeiros de cada grupo
    classificados = df_ordenado.groupby("Grupo").head(2).copy()
    classificados["Posicao"] = classificados.groupby("Grupo").cumcount() + 1  # 1¬∞ ou 2¬∞
    classificados["Letra_Grupo"] = classificados["Grupo"].str.extract(r"Grupo (\w)")[0]
    classificados["Chave"] = classificados["Posicao"].astype(str) + "_" + classificados["Letra_Grupo"]

    # Criar dicion√°rio com chave -> dados do time
    classificados_dict = classificados.set_index("Chave").to_dict(orient="index")

    # Definir os grupos da Fase 2 com base nas chaves
    grupos_fase2 = {
        "Grupo I": ["1_A", "2_B", "1_C", "2_D"],
        "Grupo J": ["1_B", "2_A", "1_D", "2_C"],
        "Grupo K": ["1_E", "2_F", "1_G", "2_H"],
        "Grupo L": ["1_F", "2_E", "1_H", "2_G"],
    }

    dados_fase2 = []
    for grupo_f2, chaves in grupos_fase2.items():
        for chave in chaves:
            if chave in classificados_dict:
                time_info = classificados_dict[chave]
                dados_fase2.append({
                    "Grupo Fase 2": grupo_f2,
                    "Chave": chave,
                    "Grupo Origem": chave.split("_")[1],
                    "Posi√ß√£o Origem": chave.split("_")[0],
                    "Nome do Time": time_info["Nome do Time"],
                    "Pontos Fase 1": time_info["Pontos"]
                })

    df_fase2 = pd.DataFrame(dados_fase2)

    # Padronizar colunas para seguir o modelo do df_resultado
    df_fase2 = df_fase2.rename(columns={
        "Grupo Fase 2": "Grupo",
        "Posi√ß√£o Origem": "Posicao",
        "Grupo Origem": "Letra_Grupo",
        "Pontos Fase 1": "Pontos"
    })

    # Adicionar colunas com valores nulos temporariamente para padronizar com df_resultado
    for col in ["Vitorias", "Empates", "Derrotas", "Total Cartola", "Cartola Sofrido", "Saldo Cartola"]:
        if col not in df_fase2.columns:
            df_fase2[col] = None

    # Reordenar colunas no mesmo padr√£o de df_resultado
    colunas_padrao = ["Grupo", "Nome do Time", "Pontos", "Vitorias", "Empates", "Derrotas",
                      "Total Cartola", "Cartola Sofrido", "Saldo Cartola", "Posicao", "Letra_Grupo", "Chave"]
    df_fase2 = df_fase2[colunas_padrao]

    return df_fase2, classificados_dict

In [20]:
# # Gerar a classifica√ß√£o da fase 1
# df_resultado, df_resultado_por_grupo = classificacao_por_grupo(df_rodadas, df_pontuacoes)

# # Salvar fase 1
# with pd.ExcelWriter("classificacao_por_grupo.xlsx") as writer:
#     for grupo, df in df_resultado_por_grupo.items():
#         df.to_excel(writer, sheet_name=grupo, index=False)



# # Salvar Fase 2 por grupo
# with pd.ExcelWriter("classificacao_fase2_por_grupo.xlsx") as writer:
#     for grupo in ["Grupo I", "Grupo J", "Grupo K", "Grupo L"]:
#         df_fase2[df_fase2["Grupo"] == grupo].to_excel(writer, sheet_name=grupo, index=False)

In [21]:
# Gerar Fase 2
df_fase2, classificados_dict = gerar_classificados_fase2(df_resultado)

In [22]:
# df_fase2, classificados_dict = gerar_classificados_fase2(df_resultado)

# Separar os grupos da fase 2
df_fase2_grupo_I = df_fase2[df_fase2["Grupo"] == "Grupo I"]
df_fase2_grupo_J = df_fase2[df_fase2["Grupo"] == "Grupo J"]
df_fase2_grupo_K = df_fase2[df_fase2["Grupo"] == "Grupo K"]
df_fase2_grupo_L = df_fase2[df_fase2["Grupo"] == "Grupo L"]

# Salvar em Excel
caminho_fase2 = "classificacao_por_grupo_fase2.xlsx"
with pd.ExcelWriter(caminho_fase2) as writer:
    df_fase2_grupo_I.to_excel(writer, sheet_name="Grupo I", index=False)
    df_fase2_grupo_J.to_excel(writer, sheet_name="Grupo J", index=False)
    df_fase2_grupo_K.to_excel(writer, sheet_name="Grupo K", index=False)
    df_fase2_grupo_L.to_excel(writer, sheet_name="Grupo L", index=False)

# Exibir os grupos na tela (opcional)
display(df_fase2_grupo_I, df_fase2_grupo_J, df_fase2_grupo_K, df_fase2_grupo_L)


# --------------------------------------------------------------------------------------------------------------------------

# Caminho do Excel
caminho_excel = "classificacao_por_grupo_fase2.xlsx"
saida_js = "classificacao_por_grupo_fase2.js"

# Carregar todas as abas
xls = pd.read_excel(caminho_excel, sheet_name=None)

# Converter cada aba em lista de dicion√°rios
dados = {}
for nome_grupo, df in xls.items():
    dados[nome_grupo] = df.to_dict(orient="records")

# Gerar string JS
conteudo_js = f"const classificacao = {json.dumps(dados, indent=2)};\n"

# Salvar no arquivo .js
with open(saida_js, "w", encoding="utf-8") as f:
    f.write(conteudo_js)

print(f"‚úÖ Arquivo '{saida_js}' gerado com sucesso!")

,Grupo,Nome do Time,Pontos,Vitorias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Posicao,Letra_Grupo,Chave
0,Grupo I,pura bucha /botafogo,12,None,None,None,None,None,None,1,A,1_A
1,Grupo I,lsauer fc,9,None,None,None,None,None,None,2,B,2_B
2,Grupo I,Gr√™mio imortal 37,9,None,None,None,None,None,None,1,C,1_C
3,Grupo I,Texas Club 2025,9,None,None,None,None,None,None,2,D,2_D

,Grupo,Nome do Time,Pontos,Vitorias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Posicao,Letra_Grupo,Chave
4,Grupo J,Tabajara de Inhaua FC2,12,None,None,None,None,None,None,1,B,1_B
5,Grupo J,Dom Camillo68,9,None,None,None,None,None,None,2,A,2_A
6,Grupo J,Tatols Beants F.C,9,None,None,None,None,None,None,1,D,1_D
7,Grupo J,Analove10 ITAQUI GRANDE!!,9,None,None,None,None,None,None,2,C,2_C

,Grupo,Nome do Time,Pontos,Vitorias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Posicao,Letra_Grupo,Chave
8,Grupo K,Real SCI,15,None,None,None,None,None,None,1,E,1_E
9,Grupo K,TORRESMO COM PINGA,9,None,None,None,None,None,None,2,F,2_F
10,Grupo K,KING LEONN,15,None,None,None,None,None,None,1,G,1_G
11,Grupo K,Laranjja Mecannica,12,None,None,None,None,None,None,2,H,2_H

,Grupo,Nome do Time,Pontos,Vitorias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Posicao,Letra_Grupo,Chave
12,Grupo L,L√° do Itaqui,12,None,None,None,None,None,None,1,F,1_F
13,Grupo L,Gremiomaniasm,9,None,None,None,None,None,None,2,E,2_E
14,Grupo L,Gig@ntte,12,None,None,None,None,None,None,1,H,1_H
15,Grupo L,KillerColorado,9,None,None,None,None,None,None,2,G,2_G

‚úÖ Arquivo 'classificacao_por_grupo_fase2.js' gerado com sucesso!

In [23]:
df_fase2.columns = df_fase2.columns.str.strip()

# Garante que a coluna "Chave" exista
if "Chave" not in df_fase2.columns:
    df_fase2["Posicao"] = df_fase2["Posi√ß√£o Origem"]
    df_fase2["Letra_Grupo"] = df_fase2["Grupo Origem"]
    df_fase2["Chave"] = df_fase2["Posicao"].astype(str) + "_" + df_fase2["Letra_Grupo"]

# Agora sim, define a coluna como √≠ndice
df_fase2.set_index("Chave", inplace=True)


# Fun√ß√£o para gerar confrontos da fase 2 (6 rodadas por grupo)
def gerar_confrontos_fase2():
    confrontos = []
    grupos_fase2 = {
        "Grupo I": ["1_A", "2_B", "1_C", "2_D"],
        "Grupo J": ["1_B", "2_A", "1_D", "2_C"],
        "Grupo K": ["1_E", "2_F", "1_G", "2_H"],
        "Grupo L": ["1_F", "2_E", "1_H", "2_G"],
    }

    rodadas_por_grupo = {
        1: [(3,1), (4,2)],
        2: [(1,4), (2,3)],
        3: [(4,3), (2,1)],
        4: [(4,1), (3,2)],
        5: [(3,4), (1,2)],
        6: [(1,3), (2,4)],
    }

    for rodada, partidas in rodadas_por_grupo.items():
        for grupo, chaves in grupos_fase2.items():
            for mandante_idx, visitante_idx in partidas:
                mandante_chave = chaves[mandante_idx - 1]
                visitante_chave = chaves[visitante_idx - 1]
                mandante = df_fase2.loc[mandante_chave]["Nome do Time"]
                visitante = df_fase2.loc[visitante_chave]["Nome do Time"]
                confrontos.append({
                    "Rodada": rodada,
                    "Grupo": grupo,
                    "Mandante": mandante,
                    "Visitante": visitante
                })
    
    df_confrontos_fase2 = pd.DataFrame(confrontos)
    return df_confrontos_fase2.sort_values(by=["Grupo", "Rodada"])

df_confrontos_fase2 = gerar_confrontos_fase2()


# Salvando o DataFrame em Excel
caminho_excel = "confrontos_fase2_libertadores.xlsx"
df_confrontos_fase2.to_excel(caminho_excel, index=False)

# Criando conte√∫do JavaScript
conteudo_js = "const confrontosFase2 = " + df_confrontos_fase2.to_json(orient="records", force_ascii=False, indent=2) + ";"

# Salvando o conte√∫do JS em arquivo
caminho_js = "confrontos_fase2_libertadores.js"
with open(caminho_js, "w", encoding="utf-8") as f:
    f.write(conteudo_js)
    

# df_fase2 = pd.DataFrame(dados_fase2)
display(df_fase2.head())

display(df_confrontos_fase2.head())

,Grupo,Nome do Time,Pontos,Vitorias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Posicao,Letra_Grupo
Chave,,,,,,,,,,,
1_A,Grupo I,pura bucha /botafogo,12,None,None,None,None,None,None,1,A
2_B,Grupo I,lsauer fc,9,None,None,None,None,None,None,2,B
1_C,Grupo I,Gr√™mio imortal 37,9,None,None,None,None,None,None,1,C
2_D,Grupo I,Texas Club 2025,9,None,None,None,None,None,None,2,D
1_B,Grupo J,Tabajara de Inhaua FC2,12,None,None,None,None,None,None,1,B

    Rodada    Grupo              Mandante             Visitante
0        1  Grupo I     Gr√™mio imortal 37  pura bucha /botafogo
1        1  Grupo I       Texas Club 2025             lsauer fc
8        2  Grupo I  pura bucha /botafogo       Texas Club 2025
9        2  Grupo I             lsauer fc     Gr√™mio imortal 37
16       3  Grupo I       Texas Club 2025     Gr√™mio imortal 37